
@model office.Models.BussinessCategory 
@using PagedList;
@using PagedList.Mvc;
@using GridMvc.Html 
@{
    ViewBag.Title = "";
} 
@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "", @id = "frmCandidate" }))
{ 
    <div class="row">
        <div class="col-lg-12"> 
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5> Category </h5>
                    <div class="ibox-tools">
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-12"> 
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Category Name</label>
                                </div>
                                <div class="col-md-3">
                                    @Html.HiddenFor(a => a.BusinessCategoryID, new { @id = "BusinessCategoryID" })
                                    @Html.TextBoxFor(a => a.BusinessCategoryName, new { @class = "form-control", title = "BusinessCategoryName", @id = "BusinessCategoryName" })
                                    <p id="Namevalidation" style="color:red;display:none">Please Enter Name</p>
                                </div>
                                <div class="col-md-3" style="margin-left: 0!important">
                                    @Html.CheckBoxFor(a => a.IsActive, new { @class = "",value="true", title = "Active", @id = "IsActive" })
                                    <label for="checkbox5">
                                        Active
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    <div class="row" style="padding-top: 10px;">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-8">

                            <button class="btn btn-white" id="btnClear" type="button">Clear</button>
                            <button class="btn btn-primary" id="btnsave" type="button">Save changes</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/jquery-2.1.1.js"></script>
}
<script>

    $(document).ready(function () {
        $("#Namevalidation").hide();
        $('#btnClear').on('click', function () {
            $('#BusinessCategoryID').val(0);
            $('#BusinessCategoryName').val('');
        });
        $('#btnsave').on('click', function () {
            $("#Namevalidation").hide();

            if ($("#BusinessCategoryName").val() == "") {
                $("#Namevalidation").show();
                return false;
            }
            else {

                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    url: '/Master/SaveBussinessCategory',
                    data:
                    {
                        BussinessCategoryID: $("#BusinessCategoryID").val(),
                        BussinessCategoryName: $("#BusinessCategoryName").val(),
                        IsActive: $('input[name=IsActive]').prop('checked')
                    },
                    success: function (da) {
                        $('#BusinessCategoryID').val(0);
                        $('#BusinessCategoryName').val('');
                        alert("Save Succesfully");
                        $.ajax({
                            url: "@Url.Action("LoadBussinessCategoryGrid", "Master")",
                            contentType: "application/json",

                            dataType: "text",
                            type: "Get",
                            async: true,
                            success: function (data) {
                                $('#mgrid').html(data);

                            },
                            error: function (data) {
                            },
                            complete: function () {
                            }
                        });
                        refreshSubCategory();

                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                    }
                });
            }
        });
    });
        function refreshSubCategory() {

            $.ajax({
                url: "@Url.Action("refreshSubCategory", "Master")",
                contentType: "application/json",
                
                dataType: "text",
                type: "POST",
                async: false,
                success: function (data) {
                    $('#BusinessCategoryID2').html(data);

                },
                error: function (data) {
                    console.log(Error);

                },
                complete: function () {

                }

            });
            return true;
        }
   

   
</script> 