@model office.Models.Member
@{
    ViewBag.Title = "EditMember";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/js/jquery-2.1.1.js"></script>
<div class="row">
    <div class="col-lg-8">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Member form</h5>
                @*<div class="ibox-tools">
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>*@
            </div>
            <div class="ibox-content">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-lg-12">
                            <h3 class="help-block m-b-none">Information</h3>
                            <hr style="margin-top: 10px; margin-bottom: 10px;" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label">Member Type</label>
                        <div class="col-lg-10">
                            <select id="memberid" class="form-control">
                                <option value="1">Developer</option>
                                <option value="2">Consultant</option>
                                <option value="3">Contractor</option>
                                <option value="4">Person</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group Consultant">
                        <label class="col-lg-2 control-label">Consultant Type</label>

                        <div class="col-lg-10">
                            @Html.DropDownList("ConsultantTypeID", new SelectList((System.Collections.IEnumerable)ViewData["ConsultantTypeList"], "Value", "Text",Model.TypeId), "Select Consultant", new { @class = "form-control", @id = "ConsultantTypeID", Title = "ConsultantTypeID" })
                        </div>
                    </div>

                    <div class="form-group Contractor">
                        <label class="col-lg-2 control-label">Contractor Type</label>

                        <div class="col-lg-10">
                            @Html.DropDownList("ContractorTypeId", new SelectList((System.Collections.IEnumerable)ViewData["ContractorTypeList"], "Value", "Text",Model.TypeId), "Select Contractor", new { @class = "form-control", @id = "ContractorTypeId", Title = "ContractorTypeId" })
                        </div>
                    </div>
                    <input type="hidden" id="MemberId" value="@Model.MemberID" />
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Company</label>
                        <div class="col-lg-10"><input type="text" id="CompanyName" value="@Model.CompanyName" placeholder="Company Name" class="form-control"></div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label">Designation</label>

                        <div class="col-lg-10">
                            @Html.DropDownList("DesignationId", new SelectList((System.Collections.IEnumerable)ViewData["DesignationList"], "Value", "Text"), "Select Designation", new { @class = "form-control", @id = "DesignationID", Title = "DesignationID" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label">Title</label>

                        <div class="col-lg-2">
                            <select class="form-control" id="TitleId">
                                <option value="1">Mr.</option>
                                <option value="2">Miss.</option>
                                <option value="3">Dr.</option>
                                <option value="4">Ms.</option>
                            </select>
                        </div>
                        <div class="entityField">
                            <label class="col-lg-1 control-label">Name</label>
                            <div class="col-lg-7" style="display:inline-flex;">
                                @Html.DropDownList("MemberPersonId", new SelectList((System.Collections.IEnumerable)ViewData["PersonList"], "Value", "Text"), "Select Person", new { @class = "form-control", @id = "MemberPersonId", Title = "MemberPersonId" })
                                <i class="fa fa-plus" id="addMember" aria-hidden="true" style="margin-left: 8px; margin-top: 9px;"></i>
                            </div>
                        </div>
                        <div class="person">
                            <label class="col-lg-1 control-label">Name</label>
                            <div class="col-lg-7 ">
                                <input type="text" id="Name" value="@Model.Name" placeholder="Name" class="form-control entity">
                            </div>
                        </div>
                    </div>

                    <div class="form-group entityField">
                        <label class="col-lg-2 control-label">Contact Person</label>

                        <div class="col-lg-10" style="display:inline-flex;">
                            @Html.DropDownList("PersonId", new SelectList((System.Collections.IEnumerable)ViewData["ConactPersonList"], "Value", "Text"), "Select Person", new { @class = "form-control", @id = "PersonId", Title = "PersonId" })
                            <i class="fa fa-plus" id="addPerson" aria-hidden="true" style="margin-left: 8px; margin-top: 9px;"></i>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label">Short Name</label>

                        <div class="col-lg-10">
                            <input id="shortname" type="text" value="@Model.ShortName" placeholder="Short Form" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label">Date Of Birth</label>
                        <div class="col-lg-4">
                            <input type="date" id="Dob" value="@ViewBag.Dob" placeholder="Dob" class="form-control">

                        </div>

                        <label class="col-lg-2 control-label">Request Date</label>

                        <div class="col-lg-4" style="display: inline-flex;">
                            <input type="date" placeholder="Request date" value="@ViewBag.Createddate" class="form-control">

                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label">Mobile No</label>
                        <div class="col-lg-4" style="display: inline-flex;">
                            <input type="text" id="Mobile" placeholder="Mobile Number" class="form-control">

                        </div>

                        <label class="col-lg-2 control-label">Phone No</label>

                        <div class="col-lg-4" style="display: inline-flex;">
                            <input id="Phone" type="text" placeholder="Phone Number" class="form-control">

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label">Office No</label>
                        <div class="col-lg-4" style="display: inline-flex;">
                            <input type="text" id="Office" placeholder="Office Number" class="form-control">

                        </div>

                        <label class="col-lg-2 control-label">Email</label>

                        <div class="col-lg-4" style="display: inline-flex;">
                            <input id="Email" type="text" placeholder="Email" class="form-control">

                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label">Additional</label>
                        <div class="col-lg-4" style="display: inline-flex;">
                            <input type="text" id="AdditionalField" placeholder="Additional Field" class="form-control">

                        </div>

                        <label class="col-lg-2 control-label">Parameter</label>

                        <div class="col-lg-4" style="display: inline-flex;">
                            <input type="text" id="Parameter" placeholder="Parameter" class="form-control">

                        </div>

                    </div>

                    <div id="residential address" class="person">
                        <div class="form-group">
                            <div class="col-lg-12">
                                <h3 class="help-block m-b-none">Residential Address</h3>
                                <hr style="margin-top: 11px; margin-bottom: 10px;" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Address 1</label>

                            <div class="col-lg-10">
                                <input type="text" id="RAddress1" value="@Model.ResidentialAddress1" placeholder="Address 1" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">Address 2</label>

                            <div class="col-lg-10">
                                <input type="text" id="RAddress2" value="@Model.ResidentialAddress2" placeholder="Address 2" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">State</label>

                            <div class="col-lg-10">
                                @Html.DropDownList("StateID", new SelectList((System.Collections.IEnumerable)ViewData["StateList"], "Value", "Text"), "Select State", new { @class = "form-control", @id = "StateID", Title = "StateID" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">District</label>

                            <div class="col-lg-10">
                                <input type="text" id="RDistrict" value="@Model.ResidentialDistrict" placeholder="District" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">City</label>

                            <div class="col-lg-10">
                                @Html.DropDownList("CityID", new SelectList((System.Collections.IEnumerable)ViewData["CityList"], "Value", "Text"), "Select City", new { @class = "form-control", @id = "CityID", Title = "CityID" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Zip Code</label>

                            <div class="col-lg-10">
                                <input type="text" id="RZip" value="@Model.ResidentialZipCode" placeholder="Zip Code" class="form-control">
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-lg-12">
                            <h3 class="help-block m-b-none">Office Address</h3>
                            <hr style="margin-top: 10px; margin-bottom: 10px;" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Address 1</label>

                        <div class="col-lg-10">
                            <input id="OfcAddress1" type="text" value="@Model.OfficeAddress1" placeholder="Address 1" class="form-control">
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label">Address 2</label>

                        <div class="col-lg-10">
                            <input id="OfcAddress2" type="text" value="@Model.OfficeAddress2" placeholder="Address 2" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">State</label>

                        <div class="col-lg-10">
                            @Html.DropDownList("StateID2", new SelectList((System.Collections.IEnumerable)ViewData["StateList"], "Value", "Text"), "Select State", new { @class = "form-control", @id = "StateID2", Title = "StateID2" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">District</label>

                        <div class="col-lg-10">
                            <input id="OfcDistrict" type="text" value="@Model.District" placeholder="District" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">City</label>

                        <div class="col-lg-10">
                            @Html.DropDownList("CityID2", new SelectList((System.Collections.IEnumerable)ViewData["CityList"], "Value", "Text"), "Select City", new { @class = "form-control", @id = "CityID2", Title = "CityID2" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Zip Code</label>

                        <div class="col-lg-10">
                            <input id="OfcZip" type="text" value="@Model.ZipCode" placeholder="Zip Code" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">


                        <div class="col-lg-offset-2 col-lg-10">
                            <label class="control-label">Shipping Address</label>
                            <input type="checkbox" placeholder="Shipping" style="margin-left:11px">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-12">
                            <h3 class="help-block m-b-none">Other</h3>
                            <hr style="margin-top: 11px; margin-bottom: 10px;" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Website</label>

                        <div class="col-lg-10">
                            <input id="Website" type="text" value="@Model.Website" placeholder="Website" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label">Note</label>

                        <div class="col-lg-10">
                            <textarea id="Note" type="text" value="" placeholder="Note" class="form-control"></textarea>
                        </div>
                    </div>

                    <div class="hr-line-dashed"></div>
                    <div class="row form-group">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-8 pull-right">
                            <div class="pull-right">
                                @Html.ActionLink("Cancel", "MemberList", "Master", null, new { @class = "btn btn-white" })
                                <button class="btn btn-primary" id="btnsave" type="button">Save changes</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title" style="display:grid;">
                <h4 class="entityField" style="margin-bottom: 2px;"><span id="showcompanynameOnHeader">@Model.CompanyName</span></h4>
                <h4 class="person" style="margin-bottom: 2px;"><span id="showtitle">Mr.</span>&nbsp;<span id="showname">@Model.Name</span></h4>
                <span class="person" id="showdesignation" style="color: darkgray;font-size: smaller;">No Designation ..!</span>
            </div>
            <div class="ibox-content">
                <div class="row">

                    <div class="form-group">
                        <div class="col-lg-12">
                            <h5 class="help-block m-b-none">Basic Information</h5>
                            <hr style="margin-top: 11px; margin-bottom: 5px;" />
                        </div>
                    </div>
                    <div class="form-group person">
                        <span id="showcompanyname" class="col-lg-12">@Model.CompanyName</span>
                    </div>
                    <div class="form-group">
                        <span id="showshortname" class="col-lg-12">@Model.ShortName</span>
                    </div>
                    <div class="form-group">
                        <span id="showDOB" class="col-lg-12">@ViewBag.Dob</span>
                    </div>
                    <div class="form-group">
                        <span id="showWebsite" class="col-lg-12">@Model.Website</span>
                    </div>
                    <div class="form-group">
                        <span id="showNote" class="col-lg-12"></span>
                    </div>

                </div>
                <p></p>

                <div class="row entityField">
                    <div class="form-group">
                        <div class="col-lg-12">
                            <h5 class="help-block m-b-none" style="margin-bottom: 11px;">Person Details</h5>
                            @*<hr id="personrow" style="margin-top: 0px; margin-bottom: 5px;" />*@
                        </div>
                    </div>
                    @*<div class="form-group" id="noPersons">
                        <span id="noperson" class="col-lg-12" style="overflow-wrap:break-word;">No Persons..! </span>
                    </div>*@
                    <div class="col-sm-12" id="MemberList">
                        
                    </div>
                </div>

                <div class="row entityField">
                    <div class="form-group">
                        <div class="col-lg-12">
                            <h5 class="help-block m-b-none" style="margin-bottom: 11px;">Contact Person Details</h5>
                            @*<hr id="Conactpersonrow" style="margin-top: 0px; margin-bottom: 5px;" />*@
                        </div>
                    </div>
                    @*<div class="form-group" id="nocontactsPersons">
                        <span id="nocontactsperson" class="col-lg-12" style="overflow-wrap:break-word;">No Contacts Persons..! </span>
                    </div>*@
                    <div class="col-sm-12" id="ContactPersonDetails">
                        
                    </div>
                </div>
                <div id="ContactDetailsList">

                </div>
                

                <div class="row person">

                    <div class="form-group">
                        <div class="col-lg-12">
                            <h5 class="help-block m-b-none">Residential Address</h5>
                            <hr style="margin-top: 11px; margin-bottom: 10px;" />
                        </div>
                    </div>
                    <div class="form-group">
                        <span id="showRaddress1" class="col-lg-12" style="overflow-wrap:break-word;">@Model.ResidentialAddress1 </span>
                    </div>
                    <div class="form-group">
                        <span id="showRaddress2" class="col-lg-12" style="overflow-wrap:break-word;">@Model.ResidentialAddress2</span>
                    </div>
                    <div class="form-group">
                        <span id="showRstate" class="col-lg-12" style="overflow-wrap:break-word;">@Model.ResidentialStateID</span>
                    </div>
                    <div class="form-group">
                        <span id="showRcity" class="col-lg-12" style="overflow-wrap:break-word;">@Model.ResidentialCityID</span>
                    </div>
                    <div class="form-group">
                        <span id="showRdistrict" class="col-lg-12" style="overflow-wrap:break-word;">@Model.ResidentialDistrict</span>
                    </div>
                    <div class="form-group">
                        <span id="showRzip" class="col-lg-12" style="overflow-wrap:break-word;">@Model.ResidentialZipCode</span>
                    </div>

                </div>
                <p class="person"></p>
                <div class="row">
                    <div class="form-group">
                        <div class="col-lg-12">
                            <h5 class="help-block m-b-none">Office Address</h5>
                            <hr style="margin-top: 11px; margin-bottom: 10px;" />
                        </div>
                    </div>
                    <div class="form-group">
                        <span id="showOfcaddress1" class="col-lg-12" style="overflow-wrap:break-word;">@Model.OfficeAddress1</span>
                    </div>
                    <div class="form-group">
                        <span id="showOfcaddress2" class="col-lg-12" style="overflow-wrap:break-word;">@Model.OfficeAddress2</span>
                    </div>
                    <div class="form-group">
                        <span id="showOfcstate" class="col-lg-12" style="overflow-wrap:break-word;">@Model.StateID</span>
                    </div>
                    <div class="form-group">
                        <span id="showOfccity" class="col-lg-12" style="overflow-wrap:break-word;">@Model.CityID</span>
                    </div>
                    <div class="form-group">
                        <span id="showOfcdistrict" class="col-lg-12" style="overflow-wrap:break-word;">@Model.District</span>
                    </div>

                    <div class="form-group">
                        <span id="showOfczip" class="col-lg-12" style="overflow-wrap:break-word;">@Model.ZipCode</span>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>

<script>
    $(document).ready(function () {

        //Binding model varibales to drop downs and fields
        $("#DesignationID option[value = '" + @Model.DesignationId + "']").attr("selected", "selected");
        $("#memberid option[value = '" + @Model.MemberType + "']").attr("selected", "selected");
        $("#CityID option[value = '" + @Model.ResidentialCityID + "']").attr("selected", "selected");
        $("#StateID option[value = '" + @Model.ResidentialStateID + "']").attr("selected", "selected");

         $("#CityID2 option[value = '" + @Model.CityID + "']").attr("selected", "selected");
        $("#StateID2 option[value = '" + @Model.StateID + "']").attr("selected", "selected");

        $('#showdesignation').html($("#DesignationID option:selected").text());
        $('#showRcity').html($("#CityID option:selected").text());
        $('#showRstate').html($("#StateID option:selected").text());
        $('#showOfccity').html($("#CityID2 option:selected").text());
        $('#showOfcstate').html($("#StateID2 option:selected").text());

        if ($("#memberid option:selected").val() == 4) {
            $('.person').show();
            $('.entityField').hide();
        }
        else {
            $('.person').hide();
            $('.entityField').show();
        }
       
        //Ajax call for binding conact list for update
         $.ajax({
            url: "@Url.Action("GetMemberConactDetails", "Master")",
            contentType: "application/json",
                data: JSON.stringify({
                    MemberId: $('#MemberId').val(),
            }),
            dataType: "text",
            type: "POST",
            async: true,
            success: function (data) {
                $('#ContactDetailsList').html(data);

            },
            error: function (data) {


            },
            complete: function () {

            }

        });


         //Ajax call for binding conact person list for update
         $.ajax({
            url: "@Url.Action("GetConactPersonByMemberType", "Master")",
            contentType: "application/json",
                data: JSON.stringify({
                    MemberId: $('#MemberId').val(),
            }),
            dataType: "text",
            type: "POST",
            async: true,
            success: function (data) {
                $('#ContactPersonDetails').html(data);

            },
            error: function (data) {


            },
            complete: function () {

            }

        });


         //Ajax call for binding Member list for update
         $.ajax({
            url: "@Url.Action("GetPersonListForUpdate", "Master")",
            contentType: "application/json",
                data: JSON.stringify({
                    MemberId: $('#MemberId').val(),
            }),
            dataType: "text",
            type: "POST",
            async: true,
            success: function (data) {
                $('#MemberList').html(data);

            },
             error: function (data) {

            },
             complete: function () {

            }

        });
        
        $('.Consultant').hide();
        $('.Contractor').hide();
        TypeDispplayAndHide();

        $('#memberid').change(function () {
            if ($("#memberid option:selected").val() == 4) {
                $('.person').show();
                $('.entityField').hide();
            }
            else
            {
                $('.person').hide();
                $('.entityField').show();
            }

            TypeDispplayAndHide();
        });

        function TypeDispplayAndHide()
        {
            if ($("#memberid option:selected").val() == 2) {
                $('.Consultant').show();
            }
            else {
                $('.Consultant').hide();
            }
            if ($("#memberid option:selected").val() == 3) {
                $('.Contractor').show();
            }
            else {
                $('.Contractor').hide();
            }
        }

        $('#Website').keyup(function () {
            $('#showWebsite').html($('#Website').val());
        });

        $('#Note').keyup(function () {
            $('#showNote').html($('#Note').val());
        });

        $('#CompanyName').keyup(function () {
            $('#showcompanyname').html($('#CompanyName').val());
        });

        $('#CompanyName').keyup(function () {
            $('#showcompanynameOnHeader').html($('#CompanyName').val());
        });

         // Residential address auto fill info

        $('#RAddress1').keyup(function () {
            $('#showRaddress1').html($('#RAddress1').val());
        });

        $('#RAddress2').keyup(function () {
            $('#showRaddress2').html($('#RAddress2').val());
        });

        $('#CityID').change(function () {
            $('#showRcity').html($("#CityID option:selected").text());
        });

        $('#StateID').change(function () {
            $('#showRstate').html($("#StateID option:selected").text());
        });

        $('#RZip').keyup(function () {
            $('#showRzip').html($('#RZip').val());
        });

        $('#RDistrict').keyup(function () {
            $('#showRdistrict').html($('#RDistrict').val());
        });

        // Office address auto fill info

        $('#OfcAddress1').keyup(function () {
            $('#showOfcaddress1').html($('#OfcAddress1').val());
        });

        $('#OfcAddress2').keyup(function () {
            $('#showOfcaddress2').html($('#OfcAddress2').val());
        });

        $('#CityID2').change(function () {
            $('#showOfccity').html($("#CityID2 option:selected").text());
        });

        $('#StateID2').change(function () {
            $('#showOfcstate').html($("#StateID2 option:selected").text());
        });

        $('#OfcZip').keyup(function () {
            $('#showOfczip').html($('#OfcZip').val());
        });

        $('#OfcDistrict').keyup(function () {
            $('#showOfcdistrict').html($('#OfcDistrict').val());
        });
            // Filling details on events

            $('#Name').keyup(function () {
                $('#showname').html($('#Name').val());
            });

        $('#TitleId').change(function () {
            $('#showtitle').html($("#TitleId option:selected").text());
                });
                $('#DesignationID').change(function () {
                    $('#showdesignation').html($("#DesignationID option:selected").text());
                });

                $('#shortname').keyup(function () {
                    $('#showshortname').html($('#shortname').val());
                });

                $('#Dob').change(function () {
                    $('#showDOB').html($("#Dob").val());

        });


        $('#addPerson').on("click", function (e) {

                $('#nocontactsPersons').hide();
                $('#Conactpersonrow').hide();
                var contactperosntext = $("#PersonId option:selected").text();
                var ContactPersonId = $("#PersonId option:selected").val();
            var bindrow = '<tr><td class="hidden newmultiperson">' + ContactPersonId + '</td><td>' + contactperosntext + '</td><td><i class="fa fa-times deleterow pull-right" id="mydel" aria-hidden="true"></i></td></tr>'
                $('#PersonDatails tbody').append(bindrow);

        });

        $('#addMember').on("click", function (e) {

            $('#noPersons').hide();
            $('#personrow').hide();
            var Membertext = $("#MemberPersonId option:selected").text();
            var MemberId = $("#MemberPersonId option:selected").val();
            var DesignationID = $("#DesignationID option:selected").val();
            var Degtext = $("#DesignationID option:selected").text();
            var bindrow = '<tr><td class="hidden newmultimember" id="' + DesignationID + '">' + MemberId + '</td><td>' + Membertext + '</td><td><span style="color: darkgray;font-size: smaller;">' + Degtext +'</span></td><td><i class="fa fa-times deleterow pull-right" id="mydel" aria-hidden="true"></i></td></tr>'
            $('#MemberDatails tbody').append(bindrow);

        });

                $('#Mobile').on("keypress", function (e) {
                    if (e.keyCode == 13) {
                        if ($('#Mobile').val().trim() != "") {
                            $('#nocontacts').hide();
                            $('#Conactrow').hide();
                            var mobiletext = $('#Mobile').val();
                            var bindrow = '<tr><td class="newmultimobile">' + mobiletext + '</td><td style="color: darkgray;font-size: smaller;">Mobile</td><td><i class="fa fa-times deleterow pull-right" id="mydel" aria-hidden="true"></i></td></tr>'
                            $('#Datails tbody').append(bindrow);
                            $('#Mobile').val('');
                        }
                    }
                });

                $('#Phone').on("keypress", function (e) {
                    if (e.keyCode == 13) {
                        if ($('#Phone').val().trim() != "")
                        {

                        $('#nocontacts').hide();
                        $('#Conactrow').hide();
                        var Phonetext = $('#Phone').val();
                        var bindrow = '<tr><td class="newmultiphone">' + Phonetext + '</td><td style="color: darkgray;font-size: smaller;">Phone</td><td><i class="fa fa-times deleterow pull-right" id="mydel" aria-hidden="true"></i></td></tr>'
                        $('#Datails tbody').append(bindrow);
                        $('#Phone').val('');
                        }
                    }
                });

                $('#Office').on("keypress", function (e) {
                    if (e.keyCode == 13) {
                        if ($('#Office').val().trim() != "") {
                            $('#nocontacts').hide();
                            $('#Conactrow').hide();
                            var Officetext = $('#Office').val();
                            var bindrow = '<tr><td class="newmultioffice">' + Officetext + '</td><td style="color: darkgray;font-size: smaller;">Office</td><td><i class="fa fa-times deleterow pull-right" id="mydel" aria-hidden="true"></i></td></tr>'
                            $('#Datails tbody').append(bindrow);
                            $('#Office').val('');
                        }
                    }
                });

                $('#Email').on("keypress", function (e) {
                    if (e.keyCode == 13) {
                        if ($('#Email').val().trim() != "") {
                            $('#nocontacts').hide();
                            $('#Conactrow').hide();
                            var emailtext = $('#Email').val();
                            var bindrow = '<tr><td class="newmultiemail">' + emailtext + '</td><td style="color: darkgray;font-size: smaller;">email</td><td><i class="fa fa-times deleterow pull-right" id="mydel" aria-hidden="true"></i></td></tr>'
                            $('#Datails tbody').append(bindrow);
                            $('#Email').val('');
                        }
                    }
                });

                $('#AdditionalField').on("keypress", function (e) {
                    if (e.keyCode == 13) {
                        if ($('#AdditionalField').val().trim() != "") {
                            $('#nocontacts').hide();
                            $('#Conactrow').hide();
                            var AdditionalFieldtext = $('#AdditionalField').val();
                            var bindrow = '<tr><td class="newmultiadditionalfield">' + AdditionalFieldtext + '</td><td style="color: darkgray;font-size: smaller;">Additional field</td><td><i class="fa fa-times deleterow pull-right" id="mydel" aria-hidden="true"></i></td></tr>'
                            $('#Datails tbody').append(bindrow);
                            $('#AdditionalField').val('');
                        }
                    }
                });

                $('#Parameter').on("keypress", function (e) {
                    if (e.keyCode == 13) {
                        if ($('#Parameter').val().trim() != "") {
                            $('#nocontacts').hide();
                            $('#Conactrow').hide();
                            var Parametertext = $('#Parameter').val();
                            var bindrow = '<tr><td class="newmultiparameter">' + Parametertext + '</td><td style="color: darkgray;font-size: smaller;">Parameter</td><td><i class="fa fa-times deleterow pull-right" id="mydel" aria-hidden="true"></i></td></tr>'
                            $('#Datails tbody').append(bindrow);
                            $('#Parameter').val('');
                        }
                    }
                });

                $(document).on('click', 'i.deleterow', function (e) {
                    e.preventDefault();
                    $(this).parents('tr').remove();
                });



        $('#StateID2').change(function ()
         {
            $.ajax({
            url: "@Url.Action("FliterStateWiseCity", "Master")",
            contentType: "application/json",
                data: JSON.stringify({
                StateID: $('#StateID2').val(),
            }),
            dataType: "text",
            type: "POST",
            async: true,
            success: function (data) {
                $('#CityID2').html(data);

            },
            error: function (data) {


            },
            complete: function () {

            }

            });
            return true;

        });


        $('#StateID').change(function ()
         {
            $.ajax({
            url: "@Url.Action("FliterStateWiseCity", "Master")",
            contentType: "application/json",
                data: JSON.stringify({
                StateID: $('#StateID').val(),
            }),
            dataType: "text",
            type: "POST",
            async: true,
            success: function (data) {
                $('#CityID').html(data);

            },
            error: function (data) {


            },
            complete: function () {

            }

            });
            return true;

        });


        $('#btnsave').on('click', function () {

           // Adding multipal Contact No into array
            var idArrContactPerson = [];
            $('.newmultiperson').each(function (k, v) {
                var tdVals = $(this).text();
                idArrContactPerson.push(tdVals);
            });

            var SaveConactPerson = [];
            for (var i = 0; i < idArrContactPerson.length; i++) {
                var arrElement = idArrContactPerson[i].split("~");
                item = {}
                item["ContactPersonId"] = arrElement[0];
                SaveConactPerson.push(item);
            }


            //Adding multipal Mobile No into array
            var idArrMobile = [];
            $('.newmultimobile').each(function (k, v) {
                var tdVals = $(this).text();
                idArrMobile.push(tdVals);
            });

            var SaveMobile = [];
            for (var i = 0; i < idArrMobile.length; i++) {
                var arrElement = idArrMobile[i].split("~");
                item = {}
                item["Mobile"] = arrElement[0];
                SaveMobile.push(item);
            }


            //Adding multipal phone into array
            var idArrPhone = [];
            $('.newmultiphone').each(function (k, v) {
                 var tdVals = $(this).text();
                idArrPhone.push(tdVals);
            });

            var SavePhone = [];
            for (var i = 0; i < idArrPhone.length; i++) {
                var arrElement = idArrPhone[i].split("~");
                item = {}
                item["Phone"] = arrElement[0];
                SavePhone.push(item);
            }

            //Adding OfficeNo into array
            var idArrOffice = [];
            $('.newmultioffice').each(function (k, v) {
                var tdVals = $(this).text();
                idArrOffice.push(tdVals);
            });

            var SaveOfficeNo = [];
            for (var i = 0; i < idArrOffice.length; i++) {
                var arrElement = idArrOffice[i].split("~");
                item = {}
                item["OfficeNo"] = arrElement[0];
                SaveOfficeNo.push(item);
            }


            //Adding Email into array
            var idArrEmail = [];
            $('.newmultiemail').each(function (k, v) {
                var tdVals = $(this).text();
                idArrEmail.push(tdVals);
            });

            var SaveEmail = [];
            for (var i = 0; i < idArrEmail.length; i++) {
                var arrElement = idArrEmail[i].split("~");
                item = {}
                item["Email"] = arrElement[0];
                SaveEmail.push(item);
            }

            //Adding AdditionFileds into array
            var idArrAdditionField = [];
            $('.newmultiadditionalfield').each(function (k, v) {
                var tdVals = $(this).text();
                idArrAdditionField.push(tdVals);
            });

            var SaveAdditionalFiled= [];
            for (var i = 0; i < idArrAdditionField.length; i++) {
                var arrElement = idArrAdditionField[i].split("~");
                item = {}
                item["AdditionlField"] = arrElement[0];
                SaveAdditionalFiled.push(item);
            }


            //Adding Parameter into array
            var idArrParameter = [];
            $('.newmultiparameter').each(function (k, v) {
                var tdVals = $(this).text();
                idArrParameter.push(tdVals);
            });

            var SaveParameter = [];
            for (var i = 0; i < idArrParameter.length; i++) {
                var arrElement = idArrParameter[i].split("~");
                item = {}
                item["Parameter"] = arrElement[0];
                SaveParameter.push(item);
            }

            //Adding Member into array
            var idArrMember = [];
            $('.newmultimember').each(function (k, v) {
                var tdVals = $(this).text() + "~" + $(this).attr("id");
                idArrMember.push(tdVals);
            });

            var SaveMemberPerson = [];
            for (var i = 0; i < idArrMember.length; i++) {
                var arrElement = idArrMember[i].split("~");
                item = {}
                item["PersonMemberID"] = arrElement[0];
                item["DesignationId"] = arrElement[1];
                SaveMemberPerson.push(item);
            }

            var TypeId = 0;

            if ($("#memberid option:selected").val() == 2) {
                TypeId = $("#ConsultantTypeID option:selected").val();
            }
            else if ($("#memberid option:selected").val() == 3) {
                TypeId = $("#ContractorTypeId option:selected").val();
            }

            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: '/Master/SaveMember',
                data:
                {
                    MemberId: $('#MemberId').val(),
                    MemberType: $("#memberid option:selected").val(),
                    TypeId: TypeId,
                    TitleID: $("#TitleId option:selected").val(),
                    Name: $('#Name').val(),
                    ShortName: $('#shortname').val(),
                    CompanyName: $('#CompanyName').val(),
                    DesignationId: $("#DesignationID option:selected").val(),
                    Website: $('#Website').val(),
                    OfficeAddress1: $('#OfcAddress1').val(),
                    OfficeAddress2: $('#OfcAddress2').val(),
                    StateID: $("#StateID2 option:selected").val(),
                    District: $('#OfcDistrict').val(),
                    CityID: $("#CityID2 option:selected").val(),
                    ZipCode: $('#OfcZip').val(),
                    BirthDate: $('#Dob').val(),
                    ShippingAddress:"test address",
                    PowerofAttorny: "NA",
                    ResidentialAddress1  :$('#RAddress1').val(),
                    ResidentialAddress2  :$('#RAddress2').val(),
                    ResidentialStateID: $('#StateID').val(),
                    ResidentialDistrict: $('#RDistrict').val(),
                    ResidentialCityID: $('#CityID ').val(),
                    ResidentialZipCode: $('#RZip').val(),
                    SaveConactPerson: SaveConactPerson,
                    SaveMobile: SaveMobile,
                    SavePhone: SavePhone,
                    SaveOfficeNo, SaveOfficeNo,
                    SaveEmail: SaveEmail,
                    SaveAdditionalFiled: SaveAdditionalFiled,
                    SaveParameter: SaveParameter,
                    SaveMemberPerson: SaveMemberPerson,


                },
                success: function (da) {
                    alert(da);
                 },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                }
            });

        });

    });


</script>
