
@model office.Models.CompanyDetailsLeftSide

@{
    Layout = null;
}

<div class="row">

    <div class="col-lg-12">
        <h5 class="help-block m-b-none">Certification </h5>
        <hr style="margin-top: 11px; margin-bottom: 10px;" />
    </div>

    @foreach (var item2 in Model.SaveCertification)
    {
        <span class="col-lg-12 showMobileNo showCertification" CertificationID="@item2.CertificationID" CertificationValue="@item2.Value" CompanyCertificationsDetailID="@item2.CompanyCertificationsDetailID" style="overflow-wrap:break-word;">
            @item2.CertificationText   @item2.Value

            <i class="fa fa-pencil-square-o EditCertification" CertificationID="@item2.CertificationID" id="EditCertification-@item2.Value" CertificationValue="@item2.Value" CompanyCertificationsDetailID="@item2.CompanyCertificationsDetailID" aria-hidden="true" style="margin-left: 8px; margin-top: 9px;"></i>
        </span>
    }

    <div class="divCertification">
        <table class="table" id="tblCertification">
            <thead>

            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <hr style="margin-top: 11px; margin-bottom: 10px;">
        <h5 class="help-block m-b-none">Office Address</h5>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="divAddress"> 
            @if (Model.CompanyID != 0)
            {
                <hr style="margin-top: 11px; margin-bottom: 10px;">
                <div>
                    @foreach (var item in Model.CompanyAddress)
                    {
                        int k = 1, l = 1;
                        <div class="row">
                            @foreach (var item1 in Model.SaveCompanyMobile)
                            {
                                if(item1!=null)
                                {
                                    if (item1.AddressID == item.AddressID)
                                    {
                                        if (item1.Type == 3)
                                        {
                                        <div>
                                            <span class="col-lg-12 showEmailID showEmailID-@k" MobileType="@item1.Type" MobileNo="@item1.Value" Extension="@item1.Extension" CompanyPhoneID="@item1.CompanyPhoneID" WorkDepartmentID="@item1.WorkDepartmentID" style="overflow-wrap:break-word;">
                                                @item1.Value &nbsp;&nbsp;&nbsp;
                                                @item1.Extension
                                            </span>
                                        </div>
                                            k++;
                                        }
                                        else
                                        {
                                        <div>
                                            <span class="col-lg-12 showMobileNo showMobileNo-@l" MobileType="@item1.Type" MobileNo="@item1.Value" Extension="@item1.Extension" CompanyPhoneID="@item1.CompanyPhoneID" WorkDepartmentID="@item1.WorkDepartmentID" style="overflow-wrap:break-word;">
                                                @item1.Value &nbsp;&nbsp;&nbsp;
                                                @item1.Extension
                                            </span>
                                        </div>
                                            l++;
                                        }
                                    }
                                }
                            }
                            <div class=" MultiOfficeAddress" liveaddressID="@item.AddressID" ofcaddress1="@item.Address1" ofcaddress2="@item.Address2" stateid2val="@item.StateID" ofcdistrict="@item.District" cityid2val="@item.CityID" ofczip="@item.ZipCode">
                                <span id="showOfcaddress1" class="col-lg-12" style="overflow-wrap:break-word;">
                                    @item.Address1
                                    &nbsp; &nbsp; &nbsp;
                                    <i class="fa fa-pencil-square-o EditAddress" addressID="@item.AddressID" id="EditAddress-@item.AddressID" aria-hidden="true" style="margin-left: 8px; margin-top: 9px;"></i>
                                    <i class="fa fa-close DeleteAddress" addressID="@item.AddressID" id="EditAddress-@item.AddressID" aria-hidden="true" style="margin-left: 8px; margin-top: 9px;"></i>
                                </span>
                            </div>
                            <div>
                                <span id="showOfcaddress2" class="col-lg-12" style="overflow-wrap:break-word;">@item.Address2</span>
                            </div>
                            <div>
                                <span id="showOfcstate" class="col-lg-12" style="overflow-wrap:break-word;">
                                    
                                    @item.District
                                </span>

                            </div>
                            <div>
                                <span id="showOfccity" class="col-lg-12" style="overflow-wrap:break-word;">
                                    
                                    @item.ZipCode
                                </span> 
                            </div>
                        </div>
                        <hr style="margin-top: 11px; margin-bottom: 10px;">
                    }  
                </div>
            }
        </div>
    </div>
</div>
<div class="row"> 
    <div class="col-lg-12">
        <h5 class="help-block m-b-none">Internal Team </h5>
        <hr style="margin-top: 11px; margin-bottom: 10px;" />
    </div>
    <div>
        @*<table id="tblInternalTeam" class="table tblInternalTeam">
            <thead></thead>
        </table>*@ 
            <div class="DivInternalTeam"> 
                @if (Model.CompanyID != 0)
                {
                    <hr style="margin-top: 11px; margin-bottom: 10px;">
                    <div class="col-md-12">
                        @foreach (var item4 in Model.SaveInternalTeam)
                        {
                            int k = 1, l = 1;
                            <div class="row">
                                @foreach (var item1 in Model.SaveCompanyMobile2)
                                {
                                    if (item1 != null)
                                    {
                                        if (item1.AddressID == item4.internalTeamid)
                                        {
                                            if (item1.Type == 3)
                                            {
                                                <div>
                                                    <span class="col-lg-12 showEmailID showEmailID-@k" MobileType="@item1.Type" MobileNo="@item1.Value" Extension="@item1.Extension" CompanyPhoneID="@item1.CompanyPhoneID" WorkDepartmentID="@item1.WorkDepartmentID" style="overflow-wrap:break-word;">
                                                        @item1.Value  &nbsp;&nbsp;&nbsp;
                                                        @item1.Extension
                                                    </span>
                                                </div>
                                                k++;
                                            }
                                            else
                                            {
                                                <div>
                                                    <span class="col-lg-12 showMobileNo showMobileNo-@l" MobileType="@item1.Type" MobileNo="@item1.Value" Extension="@item1.Extension" CompanyPhoneID="@item1.CompanyPhoneID" WorkDepartmentID="@item1.WorkDepartmentID" style="overflow-wrap:break-word;">
                                                        @item1.Value &nbsp;&nbsp;&nbsp;
                                                        @item1.Extension  
                                                    </span>
                                                </div>
                                                l++;
                                            }
                                        }
                                    }
                                } 
                                                <span class="col-lg-12 showInternalTeam" internalpersonid="@item4.internalpersonid" designationid1="@item4.designationid1" subdesignationid1="@item4.subdesignationid1" subpartdesignationid1="@item4.subpartdesignationid1" internalTeamid="@item4.internalTeamid" style="overflow-wrap:break-word;">
                                                    @item4.InternalPersonName
                                                    @item4.DesignationidText
                                                    @item4.SubDesignationText
                                                    @item4.SubPartDesignationText
                                                    <i class="fa fa-pencil-square-o EditinternalTeam" internalTeamid="@item4.internalTeamid" id="EditInternalTeam-@item4.internalTeamid" aria-hidden="true" style="margin-left: 8px; margin-top: 9px;"></i>
                                                    <i class="fa fa-close DeleteInternalTeam" InternalTeamId="@item4.internalTeamid"  aria-hidden="true" style="margin-left: 8px; margin-top: 9px;"></i>
                                                </span>  
                                       </div>
                            <hr style="margin-top: 11px; margin-bottom: 10px;">
                        }
                    </div>
                }
                </div>
            
</div>
    </div>
<div class="row">
    <div class="col-lg-12">
        <hr style="margin-top: 11px; margin-bottom: 10px;">
        <h5 class="help-block m-b-none">Support Team </h5>
        <hr style="margin-top: 11px; margin-bottom: 10px;" />
    </div>
    <div class="DivSupportTeam">
         
        @foreach (var item5 in Model.SaveExternalTeam)
        {
            int k = 1, l = 1;
        <div class="row col-md-12">


            @foreach (var item1 in Model.SaveCompanyMobile3)
            {
                if (item1.AddressID == item5.ExternalTeamid)
                {
                    if (item1.Type == 3)
                    {
                        <div class="col-md-12">
                            <span class="row col-lg-12 showEmailID showEmailID-@k" MobileType="@item1.Type" MobileNo="@item1.Value" Extension="@item1.Extension" CompanyPhoneID="@item1.CompanyPhoneID" WorkDepartmentID="@item1.WorkDepartmentID" style="overflow-wrap:break-word;">
                                @item1.Value &nbsp;&nbsp;&nbsp;
                                @item1.Extension &nbsp;&nbsp;&nbsp;
                            </span>
                        </div>
                        k++;
                    }
                    else
                    {
                        <div class="col-md-12">
                            <span class="row col-lg-12 showMobileNo showMobileNo-@l" MobileType="@item1.Type" MobileNo="@item1.Value" Extension="@item1.Extension" CompanyPhoneID="@item1.CompanyPhoneID" WorkDepartmentID="@item1.WorkDepartmentID" style="overflow-wrap:break-word;">
                                @item1.Value &nbsp;&nbsp;&nbsp;
                                @item1.Extension &nbsp;&nbsp;&nbsp;
                            </span>
                        </div>
                        l++;
                    }
                }
            }
            <div class="row">
                <div class="col-md-12">
                    <span class="col-lg-12 showExternalTeam" RelationId="@item5.RelationId" CategoryId="@item5.CategoryId" SubCategoryId="@item5.SubCategoryId" ExternalPersonId="@item5.ExternalPersonId" DesignationId="@item5.DesignationId" SubDesignationId="@item5.SubDesignationId" SubpartDesignationId="@item5.SubpartDesignationId" ExternalTeamid="@item5.ExternalTeamid" ExternalCompanyID="@item5.ExternalCompanyId" style="overflow-wrap:break-word;">
                        @item5.ExternalPersonName
                        @item5.RelationName
                        @item5.CategoryName
                        @item5.SubCategoryName

                        <br />
                        @item5.DesignationidText
                        @item5.SubDesignationText
                        @item5.SubPartDesignationText
                        <i class="fa fa-pencil-square-o EditExternalTeam" ExternalTeamid="@item5.ExternalTeamid" id="EditExternalTeam-@item5.ExternalTeamid" aria-hidden="true" style="margin-left: 8px; margin-top: 9px;"></i>
                        <i class="fa fa-close DeleteExternalTeam" ExternalTeamid="@item5.ExternalTeamid" aria-hidden="true" style="margin-left: 8px; margin-top: 9px;"></i>
                    </span>
                </div>
            </div>
            </div>
            <hr style="margin-top: 11px; margin-bottom: 10px;" />
            }
        </div>
    </div>
<script>
    $(document).ready(function () {

        
        $('.removeMultiMobileTeam').on("click", function (e) {
            var MobileID = $(this).closest(".rowMobileTeam").find("#CompanyPhoneIDValue").val();
            if (MobileID > 0) {

            }
            else {
                var MobileLength = $('.rowMobileTeam').length;
                if (MobileLength > 1) {
                    $(this).closest(".rowMobileTeam").remove();
                }
            }
        });

        $('.removeMultiEmailTeam').on("click", function (e) {

            var MobileID = $(this).closest(".rowEmailTeam").find("#CompanyPhoneIDValue").val();
            if (MobileID > 0) {

            }
            else {
                var MobileLength = $('.rowEmailTeam').length;
                if (MobileLength > 1) {
                    $(this).closest(".rowEmailTeam").remove();
                }

            }
        });
          $('.removeMultiMobile').on("click", function (e) {
              var MobileID = $(this).closest(".rowMobile").find("#CompanyPhoneIDValue").val();
              if (MobileID > 0) {

              }
              else {
                  var MobileLength = $('.rowMobile').length;
                  if (MobileLength > 1) {
                      $(this).closest(".rowMobile").remove();
                  }
              }
            });
            $('.removeMultiEmail').on("click", function (e) {

                var MobileID = $(this).closest(".rowEmail").find("#CompanyPhoneIDValue").val();
                if (MobileID > 0) {

                }
                else {
                    var MobileLength = $('.rowEmail').length;
                    if (MobileLength > 1) {
                        $(this).closest(".rowEmail").remove();
                    }

                }
            });
            $('.removeMultiMobileSupportTeam').on("click", function (e) {
                var MobileID = $(this).closest(".rowMobileSupportTeam").find("#CompanyPhoneIDValue").val();
                if (MobileID > 0) {

                }
                else {
                    var MobileLength = $('.rowMobileSupportTeam').length;
                    if (MobileLength > 1) {
                        $(this).closest(".rowMobileSupportTeam").remove();
                    }
                }
            });
            $('.removeMultiEmailSupportTeam').on("click", function (e) {

                var MobileID = $(this).closest(".rowEmailSupportTeam").find("#CompanyPhoneIDValue").val();
                if (MobileID > 0) {

                }
                else {
                    var MobileLength = $('.rowEmailSupportTeam').length;
                    if (MobileLength > 1) {
                        $(this).closest(".rowEmailSupportTeam").remove();
                    }

                }
        });
         
        $('.DeleteAddress').on("click", function (e) {
            var AddressID = $(this).attr("addressid");
           
            var CompanyID = $('#CompanyID').val();
            if (CompanyID > 0) {
                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    url: '/Master/DeleteCompanyOfficeAddress',
                    data:
                    {
                         CompanyId: $('#CompanyID').val()
                        , AddressID: AddressID 
                    },
                    success: function (da) {

                        if (da != "Success") {
                            alert(da);
                        } 
                        $.ajax({
                            type: 'GET',
                            dataType: "text",
                            url: '/Master/GetCompanyInfoLeftSide',
                            data:
                            {
                                CompanyId: $('#CompanyID').val()

                            },
                            success: function (data) {

                                $('#CompanyAddressOuterDiv').html(data);

                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                            }
                        });

                    }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                    }

                });
            }
        });
        $('.DeleteInternalTeam').on("click", function (e) {
            var InternalTeamId = $(this).attr("InternalTeamId");

            var CompanyID = $('#CompanyID').val();
            if (CompanyID > 0) {
                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    url: '/Master/DeleteCompanyInternalTeam',
                    data:
                    {
                        CompanyId: $('#CompanyID').val()
                      , InternalTeamId: InternalTeamId
                    },
                    success: function (da) {

                        if (da != "Success") {
                            alert(da);
                        }
                        $.ajax({
                            type: 'GET',
                            dataType: "text",
                            url: '/Master/GetCompanyInfoLeftSide',
                            data:
                            {
                                CompanyId: $('#CompanyID').val() 
                            },
                            success: function (data) { 
                                $('#CompanyAddressOuterDiv').html(data); 
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                            }
                        }); 
                    }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                    } 
                });
            }
        });
        $('.DeleteExternalTeam').on("click", function (e) {
            var ExternalTeamId = $(this).attr("ExternalTeamId");

            var CompanyID = $('#CompanyID').val();
            if (CompanyID > 0) {
                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    url: '/Master/DeleteCompanyExternalTeam',
                    data:
                    {
                        CompanyId: $('#CompanyID').val()
                        , ExternalTeamId: ExternalTeamId
                    },
                    success: function (da) {

                        if (da != "Success") {
                            alert(da);
                        }
                        $.ajax({
                            type: 'GET',
                            dataType: "text",
                            url: '/Master/GetCompanyInfoLeftSide',
                            data:
                            {
                                CompanyId: $('#CompanyID').val()
                            },
                            success: function (data) {
                                $('#CompanyAddressOuterDiv').html(data);
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                            }
                        });
                    }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                    }
                });
            }
        });
        $('.EditAddress').on("click", function (e) {
          
            $(".iboxOffice").show();
            $(".iboxCompanynfo").hide();
            $(".iboxInternal").hide();
            $(".iboxexternal").hide();
            $("#MobileType").val(0);
            $("#MobileNo").val("");
            $("#MobileWorkDepartment").val(0);
            $("#MobileNoExtension").val(""); 
            //if ($("#row1").length > 0) {
            //    $("#row1").remove();
            //}
            //if ($("#row2").length > 0) {
            //    $("#row2").remove();
            //}
            //if ($("#row3").length > 0) {
            //    $("#row3").remove();
            //}
            //if ($("#row4").length > 0) {
            //    $("#row4").remove();
            //}
            $("#DbAddressID").val(0);
            var liveaddressID = $(this).closest(".MultiOfficeAddress").attr("liveaddressID");

            $("#DbAddressID").val(liveaddressID);
            var ofcaddress1 = $(this).closest(".MultiOfficeAddress").attr("ofcaddress1");
            var ofcaddress2 = $(this).closest(".MultiOfficeAddress").attr("ofcaddress2");
            var stateid2val = $(this).closest(".MultiOfficeAddress").attr("stateid2val");
            var ofcdistrict = $(this).closest(".MultiOfficeAddress").attr("ofcdistrict");
            var cityid2val = $(this).closest(".MultiOfficeAddress").attr("cityid2val");
            var ofczip = $(this).closest(".MultiOfficeAddress").attr("ofczip");
            $("#OfcAddress1").val(ofcaddress1);
            $("#OfcAddress2").val(ofcaddress2);
            $("#StateID2").val(stateid2val);
            GetCity();
            $("#OfcDistrict").val(ofcdistrict);
            $("#CityID2").val(cityid2val);
            $("#OfcZip").val(ofczip);
           // $("#Website").val(ofczip);
            var MobileLength = $(this).closest(".MultiOfficeAddress").parent().find(".showMobileNo").length
            for (var i = 1; i < MobileLength; i++) {

                $('#rowMobile').clone(true)
                    .attr('id', 'row' + i, 'name', 'rowMobile')
                    .insertAfter('[id=rowMobile]:last').find("input[type='text']").val("");
                //$('#rowMobile')
                //    .clone(true)
                //    .attr('id', 'row' + i, 'name', 'rowMobilen')
                //    .insertAfter('[id^=rowMobile]:last').find("input[type='text']").val("");
            } 
            var j = 1;

            if (MobileLength >= j) {
                if (j == 1 && MobileLength >= j) {
                    var MobileType = $(this).closest(".MultiOfficeAddress").parent().find(".showMobileNo-1").attr("MobileType");
                    var MobileNo = $(this).closest(".MultiOfficeAddress").parent().find(".showMobileNo-1").attr("MobileNo");
                    var extension = $(this).closest(".MultiOfficeAddress").parent().find(".showMobileNo-1").attr("extension");
                    var companyphoneid = $(this).closest(".MultiOfficeAddress").parent().find(".showMobileNo-1").attr("companyphoneid");
                    var workdepartmentid = $(this).closest(".MultiOfficeAddress").parent().find(".showMobileNo-1").attr("workdepartmentid");

                    $("#rowMobile").find("#MobileNo").val(MobileNo);
                    $("#rowMobile").find("#MobileNoExtension").val(extension);
                   // $("#rowMobile").find("#companyphoneid").val(companyphoneid);
                    $("#rowMobile").find("#CompanyPhoneIDValue").val(companyphoneid);
                    $("#rowMobile").find("#MobileWorkDepartment").val(workdepartmentid);
                    $("#rowMobile").find("#MobileType").val(MobileType);

                    j++;
                }
                if (j == 2 && MobileLength >= j) {

                    var MobileType = $(this).closest(".MultiOfficeAddress").parent().find(".showMobileNo-" + j).attr("MobileType");
                    var MobileNo = $(this).closest(".MultiOfficeAddress").parent().find(".showMobileNo-" + j).attr("MobileNo");
                    var extension = $(this).closest(".MultiOfficeAddress").parent().find(".showMobileNo-" + j).attr("extension");
                    var companyphoneid = $(this).closest(".MultiOfficeAddress").parent().find(".showMobileNo-" + j).attr("companyphoneid");
                    var workdepartmentid = $(this).closest(".MultiOfficeAddress").parent().find(".showMobileNo-" + j).attr("workdepartmentid");
                    $("#row1").find("#MobileNo").val(MobileNo);
                    $("#row1").find("#MobileNoExtension").val(extension);
                    $("#row1").find("#companyphoneid").val(companyphoneid);
                    $("#row1").find("#MobileWorkDepartment").val(workdepartmentid);
                    $("#row1").find("#MobileType").val(MobileType);
                    j++;
                }
                if (j == 3 && MobileLength >= j) {

                    var MobileType = $(this).closest(".MultiOfficeAddress").parent().find(".showMobileNo-" + j).attr("MobileType");
                    var MobileNo = $(this).closest(".MultiOfficeAddress").parent().find(".showMobileNo-" + j).attr("MobileNo");
                    var extension = $(this).closest(".MultiOfficeAddress").parent().find(".showMobileNo-" + j).attr("extension");
                    var companyphoneid = $(this).closest(".MultiOfficeAddress").parent().find(".showMobileNo-" + j).attr("companyphoneid");
                    var workdepartmentid = $(this).closest(".MultiOfficeAddress").parent().find(".showMobileNo-" + j).attr("workdepartmentid");
                    $("#row2").find("#MobileNo").val(MobileNo);
                    $("#row2").find("#MobileNoExtension").val(extension);
                    $("#row2").find("#companyphoneid").val(companyphoneid);
                    $("#row2").find("#MobileWorkDepartment").val(workdepartmentid);
                    $("#row2").find("#MobileType").val(MobileType);
                    j++;
                }
                if (j == 4 && MobileLength >= j) {

                    var MobileType = $(this).closest(".MultiOfficeAddress").parent().find(".showMobileNo-" + j).attr("MobileType");
                    var MobileNo = $(this).closest(".MultiOfficeAddress").parent().find(".showMobileNo-" + j).attr("MobileNo");
                    var extension = $(this).closest(".MultiOfficeAddress").parent().find(".showMobileNo-" + j).attr("extension");
                    var companyphoneid = $(this).closest(".MultiOfficeAddress").parent().find(".showMobileNo-" + j).attr("companyphoneid");
                    var workdepartmentid = $(this).closest(".MultiOfficeAddress").parent().find(".showMobileNo-" + j).attr("workdepartmentid");
                    $("#row3").find("#MobileNo").val(MobileNo);
                    $("#row3").find("#MobileNoExtension").val(extension);
                    $("#row3").find("#companyphoneid").val(companyphoneid);
                    $("#row3").find("#MobileWorkDepartment").val(workdepartmentid);
                    $("#row3").find("#MobileType").val(MobileType);
                    j++;
                }
            }

            var EmailLength = $(this).closest(".MultiOfficeAddress").parent().find(".showEmailID").length
            for (var i = 1; i < EmailLength; i++) {

                $('#rowEmail')
                    .clone(true)
                    .attr('id', 'rowEmail' + i, 'name', 'rowEmailn')
                    .insertAfter('[id=rowEmail]:last').find("input[type='text']").val("");
            }

            var j = 1;

            if (EmailLength >= j) {

                if (j == 1) {
                    var MobileType = $(this).closest(".MultiOfficeAddress").parent().find(".showEmailID-1").attr("MobileType");
                    var MobileNo = $(this).closest(".MultiOfficeAddress").parent().find(".showEmailID-1").attr("MobileNo");
                    var extension = '';// $(this).closest(".MultiOfficeAddress").parent().find(".showMobileNo-1").attr("extension");
                    var companyphoneid = $(this).closest(".MultiOfficeAddress").parent().find(".showEmailID-1").attr("companyphoneid");
                    var workdepartmentid = $(this).closest(".MultiOfficeAddress").parent().find(".showEmailID-1").attr("workdepartmentid");

                    $("#rowEmail").find("#MobileNo").val(MobileNo);
                    $("#rowEmail").find("#MobileNoExtension").val(extension);
                    // $("#rowMobile").find("#companyphoneid").val(companyphoneid);
                    $("#rowEmail").find("#CompanyPhoneIDValue").val(companyphoneid);
                    $("#rowEmail").find("#MobileWorkDepartment").val(workdepartmentid);
                    $("#rowEmail").find("#MobileType").val(MobileType);

                    j++;
                }
                if (j == 2) {

                    var MobileType = $(this).closest(".MultiOfficeAddress").parent().find(".showEmailID-" + j).attr("MobileType");
                    var MobileNo = $(this).closest(".MultiOfficeAddress").parent().find(".showEmailID-" + j).attr("MobileNo");
                    var extension = "";// $(this).closest(".MultiOfficeAddress").parent().find(".showEmailID-" + j).attr("extension");
                    var companyphoneid = $(this).closest(".MultiOfficeAddress").parent().find(".showEmailID-" + j).attr("companyphoneid");
                    var workdepartmentid = $(this).closest(".MultiOfficeAddress").parent().find(".showEmailID-" + j).attr("workdepartmentid");
                    $("#rowEmail1").find("#MobileNo").val(MobileNo);
                    $("#rowEmail1").find("#MobileNoExtension").val(extension);
                    $("#rowEmail1").find("#companyphoneid").val(companyphoneid);
                    $("#rowEmail1").find("#MobileWorkDepartment").val(workdepartmentid);
                    $("#rowEmail1").find("#MobileType").val(MobileType);
                    j++;
                }
                if (j == 3) {

                    var MobileType = $(this).closest(".MultiOfficeAddress").parent().find(".showEmailID-" + j).attr("MobileType");
                    var MobileNo = $(this).closest(".MultiOfficeAddress").parent().find(".showEmailID-" + j).attr("MobileNo");
                    var extension = '';// $(this).closest(".MultiOfficeAddress").parent().find(".showEmailID-" + j).attr("extension");
                    var companyphoneid = $(this).closest(".MultiOfficeAddress").parent().find(".showEmailID-" + j).attr("companyphoneid");
                    var workdepartmentid = $(this).closest(".MultiOfficeAddress").parent().find(".showEmailID-" + j).attr("workdepartmentid");
                    $("#rowEmail2").find("#MobileNo").val(MobileNo);
                    $("#rowEmail2").find("#MobileNoExtension").val(extension);
                    $("#rowEmail2").find("#companyphoneid").val(companyphoneid);
                    $("#rowEmail2").find("#MobileWorkDepartment").val(workdepartmentid);
                    $("#rowEmail2").find("#MobileType").val(MobileType);
                    j++;
                }
                if (j == 4) {

                    var MobileType = $(this).closest(".MultiOfficeAddress").parent().find(".showEmailID-" + j).attr("MobileType");
                    var MobileNo = $(this).closest(".MultiOfficeAddress").parent().find(".showEmailID-" + j).attr("MobileNo");
                    var extension = "";// $(this).closest(".MultiOfficeAddress").parent().find(".showEmailID-" + j).attr("extension");
                    var companyphoneid = $(this).closest(".MultiOfficeAddress").parent().find(".showEmailID-" + j).attr("companyphoneid");
                    var workdepartmentid = $(this).closest(".MultiOfficeAddress").parent().find(".showEmailID-" + j).attr("workdepartmentid");
                    $("#rowEmail3").find("#MobileNo").val(MobileNo);
                    $("#rowEmail3").find("#MobileNoExtension").val(extension);
                    $("#rowEmail3").find("#companyphoneid").val(companyphoneid);
                    $("#rowEmail3").find("#MobileWorkDepartment").val(workdepartmentid);
                    $("#rowEmail3").find("#MobileType").val(MobileType);
                    j++;
                }
            }
        });

        $('.EditCertification').on("click", function (e) {
            var certificationvalue = $(this).attr("certificationvalue");
            var certificationid = $(this).attr("certificationid");
            var CompanyCertificationsDetailID = $(this).attr("CompanyCertificationsDetailID");

            $("#CertificationDetailID").val(CompanyCertificationsDetailID);
            $("#CertificationID").val(certificationid);
            $("#CertificationValue").val(certificationvalue);
        });
        $('.EditinternalTeam').on("click", function (e) {
             
            $(".iboxOffice").hide();
            $(".iboxCompanynfo").hide();
            $(".iboxInternal").show();
            $(".iboxexternal").hide();
            $("select#InternalPersonId").prop('selectedIndex', 0);
            $("select#DesignationId1").prop('selectedIndex', 0);
            $("select#SubDesignationID1").prop('selectedIndex', 0);
            $("select#SubPartDesignationID1").prop('selectedIndex', 0);
            var internalteamid = $(this).attr("internalteamid");
            $("#DbInternalTeamID").val(internalteamid);
                $("#MobileType").val(0);
                $("#MobileNo").val("");
                $("#MobileWorkDepartment").val(0);
                $("#MobileNoExtension").val("");

                if ($("#row1").length > 0) {
                    $("#row1").remove();
                }
                if ($("#row2").length > 0) {
                    $("#row2").remove();
                }
                if ($("#row3").length > 0) {
                    $("#row3").remove();
                }
                if ($("#row4").length > 0) {
                    $("#row4").remove();
                }

            var internalpersonid = $(this).closest(".showInternalTeam").attr("internalpersonid");
            var designationid1 = $(this).closest(".showInternalTeam").attr("designationid1");
            var subdesignationid1 = $(this).closest(".showInternalTeam").attr("subdesignationid1");
            var subpartdesignationid1 = $(this).closest(".showInternalTeam").attr("subpartdesignationid1");


            $("#InternalPersonId").val(internalpersonid);
            $("#DesignationId1").val(designationid1);
            GetSubDesignation();
            $("#SubDesignationID1").val(subdesignationid1);
            GetSubPartDesignation();
            $("#SubPartDesignationID1").val(subpartdesignationid1);
          
                var MobileLength = $(this).closest(".showInternalTeam").parent().find(".showMobileNo").length
                for (var i = 1; i < MobileLength; i++) {

                    $('#rowMobileTeam')
                        .clone(true)
                        .attr('id', 'rowMobileTeam' + i, 'name', 'rowMobilen')
                        .insertAfter('[id^=rowMobileTeam]:last').find("input[type='text']").val("");
                }

                var j = 1;

                if (MobileLength >= j) { 
                    if (j == 1 && MobileLength >= j) {
                        var MobileType = $(this).closest(".showInternalTeam").parent().find(".showMobileNo-1").attr("MobileType");
                        var MobileNo = $(this).closest(".showInternalTeam").parent().find(".showMobileNo-1").attr("MobileNo");
                        var extension = $(this).closest(".showInternalTeam").parent().find(".showMobileNo-1").attr("extension");
                        var companyphoneid = $(this).closest(".showInternalTeam").parent().find(".showMobileNo-1").attr("companyphoneid");
                        var workdepartmentid = $(this).closest(".showInternalTeam").parent().find(".showMobileNo-1").attr("workdepartmentid");

                        $("#rowMobileTeam").find("#MobileNo").val(MobileNo);
                        $("#rowMobileTeam").find("#MobileNoExtension").val(extension);
                        // $("#rowMobile").find("#companyphoneid").val(companyphoneid);
                        $("#rowMobileTeam").find("#CompanyPhoneIDValue").val(companyphoneid);
                        $("#rowMobileTeam").find("#MobileWorkDepartment").val(workdepartmentid);
                        $("#rowMobileTeam").find("#MobileType").val(MobileType); 
                        j++;
                    }
                    if (j == 2 && MobileLength >= j) {

                        var MobileType = $(this).closest(".showInternalTeam").parent().find(".showMobileNo-" + j).attr("MobileType");
                        var MobileNo = $(this).closest(".showInternalTeam").parent().find(".showMobileNo-" + j).attr("MobileNo");
                        var extension = $(this).closest(".showInternalTeam").parent().find(".showMobileNo-" + j).attr("extension");
                        var companyphoneid = $(this).closest(".showInternalTeam").parent().find(".showMobileNo-" + j).attr("companyphoneid");
                        var workdepartmentid = $(this).closest(".showInternalTeam").parent().find(".showMobileNo-" + j).attr("workdepartmentid");
                        $("#rowMobileTeam1").find("#MobileNo").val(MobileNo);
                        $("#rowMobileTeam1").find("#MobileNoExtension").val(extension);
                        $("#rowMobileTeam1").find("#CompanyPhoneIDValue").val(companyphoneid);
                        $("#rowMobileTeam1").find("#MobileWorkDepartment").val(workdepartmentid);
                        $("#rowMobileTeam1").find("#MobileType").val(MobileType);
                        j++;
                    }
                    if (j == 3 && MobileLength >= j) {

                        var MobileType = $(this).closest(".showInternalTeam").parent().find(".showMobileNo-" + j).attr("MobileType");
                        var MobileNo = $(this).closest(".showInternalTeam").parent().find(".showMobileNo-" + j).attr("MobileNo");
                        var extension = $(this).closest(".showInternalTeam").parent().find(".showMobileNo-" + j).attr("extension");
                        var companyphoneid = $(this).closest(".showInternalTeam").parent().find(".showMobileNo-" + j).attr("companyphoneid");
                        var workdepartmentid = $(this).closest(".showInternalTeam").parent().find(".showMobileNo-" + j).attr("workdepartmentid");
                        $("#rowMobileTeam2").find("#MobileNo").val(MobileNo);
                        $("#rowMobileTeam2").find("#MobileNoExtension").val(extension);
                        $("#rowMobileTeam2").find("#CompanyPhoneIDValue").val(companyphoneid);
                        $("#rowMobileTeam2").find("#MobileWorkDepartment").val(workdepartmentid);
                        $("#rowMobileTeam2").find("#MobileType").val(MobileType);
                        j++;
                    }
                    if (j == 4 && MobileLength >= j) {

                        var MobileType = $(this).closest(".showInternalTeam").parent().find(".showMobileNo-" + j).attr("MobileType");
                        var MobileNo = $(this).closest(".showInternalTeam").parent().find(".showMobileNo-" + j).attr("MobileNo");
                        var extension = $(this).closest(".showInternalTeam").parent().find(".showMobileNo-" + j).attr("extension");
                        var companyphoneid = $(this).closest(".showInternalTeam").parent().find(".showMobileNo-" + j).attr("companyphoneid");
                        var workdepartmentid = $(this).closest(".showInternalTeam").parent().find(".showMobileNo-" + j).attr("workdepartmentid");
                        $("#row").find("#MobileNo").val(MobileNo);
                        $("#row").find("#MobileNoExtension").val(extension);
                        $("#row").find("#CompanyPhoneIDValue").val(companyphoneid);
                        $("#row").find("#MobileWorkDepartment").val(workdepartmentid);
                        $("#row").find("#MobileType").val(MobileType);
                        j++;
                    }
                }
                var EmailLength = $(this).closest(".showInternalTeam").parent().find(".showEmailID").length
                for (var i = 1; i < EmailLength; i++) {
                    $('#rowEmailTeam')
                        .clone(true)
                        .attr('id', 'rowEmailTeam' + i, 'name', 'rowEmailn')
                        .insertAfter('[id^=rowEmailTeam]:last').find("input[type='text']").val("");
                }
                var j = 1;
                if (EmailLength >= j) {
                    if (j == 1 && EmailLength >= j) {
                        var MobileType = $(this).closest(".showInternalTeam").parent().find(".showEmailID-1").attr("MobileType");
                        var MobileNo = $(this).closest(".showInternalTeam").parent().find(".showEmailID-1").attr("MobileNo");
                        var extension = '';// $(this).closest(".MultiOfficeAddress").parent().find(".showMobileNo-1").attr("extension");
                        var companyphoneid = $(this).closest(".showInternalTeam").parent().find(".showEmailID-1").attr("companyphoneid");
                        var workdepartmentid = $(this).closest(".showInternalTeam").parent().find(".showEmailID-1").attr("workdepartmentid");

                        $("#rowEmailTeam").find("#MobileNo").val(MobileNo);
                        $("#rowEmailTeam").find("#MobileNoExtension").val(extension);
                        // $("#rowMobile").find("#companyphoneid").val(companyphoneid);
                        $("#rowEmailTeam").find("#CompanyPhoneIDValue").val(companyphoneid);
                        $("#rowEmailTeam").find("#MobileWorkDepartment").val(workdepartmentid);
                        $("#rowEmailTeam").find("#MobileType").val(MobileType);
                        j++;
                    }
                    if (j == 2 && EmailLength >= j) {

                        var MobileType = $(this).closest(".showInternalTeam").parent().find(".showEmailID-" + j).attr("MobileType");
                        var MobileNo = $(this).closest(".showInternalTeam").parent().find(".showEmailID-" + j).attr("MobileNo");
                        var extension = "";// $(this).closest(".showInternalTeam").parent().find(".showEmailID-" + j).attr("extension");
                        var companyphoneid = $(this).closest(".showInternalTeam").parent().find(".showEmailID-" + j).attr("companyphoneid");
                        var workdepartmentid = $(this).closest(".showInternalTeam").parent().find(".showEmailID-" + j).attr("workdepartmentid");
                        $("#rowEmailTeam1").find("#MobileNo").val(MobileNo);
                        $("#rowEmailTeam1").find("#MobileNoExtension").val(extension);
                        $("#rowEmailTeam1").find("#MobileWorkDepartment").val(workdepartmentid);
                        $("#rowEmailTeam1").find("#MobileType").val(MobileType);
                        j++;
                    }
                    if (j == 3 && EmailLength >= j) {

                        var MobileType = $(this).closest(".showInternalTeam").parent().find(".showEmailID-" + j).attr("MobileType");
                        var MobileNo = $(this).closest(".showInternalTeam").parent().find(".showEmailID-" + j).attr("MobileNo");
                        var extension = '';// $(this).closest(".showInternalTeam").parent().find(".showEmailID-" + j).attr("extension");
                        var companyphoneid = $(this).closest(".showInternalTeam").parent().find(".showEmailID-" + j).attr("companyphoneid");
                        var workdepartmentid = $(this).closest(".showInternalTeam").parent().find(".showEmailID-" + j).attr("workdepartmentid");
                        $("#rowEmailTeam2").find("#MobileNo").val(MobileNo);
                        $("#rowEmailTeam2").find("#MobileNoExtension").val(extension);
                        $("#rowEmailTeam2").find("#CompanyPhoneIDValue").val(companyphoneid);
                        $("#rowEmailTeam2").find("#MobileWorkDepartment").val(workdepartmentid);
                        $("#rowEmailTeam2").find("#MobileType").val(MobileType);
                        j++;
                    }
                    if (j == 4 && EmailLength >= j) {

                        var MobileType = $(this).closest(".showInternalTeam").parent().find(".showEmailID-" + j).attr("MobileType");
                        var MobileNo = $(this).closest(".showInternalTeam").parent().find(".showEmailID-" + j).attr("MobileNo");
                        var extension = "";// $(this).closest(".showInternalTeam").parent().find(".showEmailID-" + j).attr("extension");
                        var companyphoneid = $(this).closest(".showInternalTeam").parent().find(".showEmailID-" + j).attr("companyphoneid");
                        var workdepartmentid = $(this).closest(".showInternalTeam").parent().find(".showEmailID-" + j).attr("workdepartmentid");
                        $("#rowEmailTeam3").find("#MobileNo").val(MobileNo);
                        $("#rowEmailTeam3").find("#MobileNoExtension").val(extension);
                        $("#rowEmailTeam3").find("#companyphoneid").val(companyphoneid);
                        $("#rowEmailTeam3").find("#MobileWorkDepartment").val(workdepartmentid);
                        $("#rowEmailTeam3").find("#MobileType").val(MobileType);
                        j++;
                    }
                    if (j == 5 && EmailLength >= j) {

                        var MobileType = $(this).closest(".showInternalTeam").parent().find(".showEmailID-" + j).attr("MobileType");
                        var MobileNo = $(this).closest(".showInternalTeam").parent().find(".showEmailID-" + j).attr("MobileNo");
                        var extension = "";// $(this).closest(".showInternalTeam").parent().find(".showEmailID-" + j).attr("extension");
                        var companyphoneid = $(this).closest(".showInternalTeam").parent().find(".showEmailID-" + j).attr("companyphoneid");
                        var workdepartmentid = $(this).closest(".showInternalTeam").parent().find(".showEmailID-" + j).attr("workdepartmentid");
                        $("#rowEmailTeam4").find("#MobileNo").val(MobileNo);
                        $("#rowEmailTeam4").find("#MobileNoExtension").val(extension);
                        $("#rowEmailTeam4").find("#companyphoneid").val(companyphoneid);
                        $("#rowEmailTeam4").find("#MobileWorkDepartment").val(workdepartmentid);
                        $("#rowEmailTeam4").find("#MobileType").val(MobileType);
                        j++;
                    }
                    if (j == 6 && EmailLength >= j) {

                        var MobileType = $(this).closest(".showInternalTeam").parent().find(".showEmailID-" + j).attr("MobileType");
                        var MobileNo = $(this).closest(".showInternalTeam").parent().find(".showEmailID-" + j).attr("MobileNo");
                        var extension = "";// $(this).closest(".showInternalTeam").parent().find(".showEmailID-" + j).attr("extension");
                        var companyphoneid = $(this).closest(".showInternalTeam").parent().find(".showEmailID-" + j).attr("companyphoneid");
                        var workdepartmentid = $(this).closest(".showInternalTeam").parent().find(".showEmailID-" + j).attr("workdepartmentid");
                        $("#rowEmailTeam5").find("#MobileNo").val(MobileNo);
                        $("#rowEmailTeam5").find("#MobileNoExtension").val(extension);
                        $("#rowEmailTeam5").find("#companyphoneid").val(companyphoneid);
                        $("#rowEmailTeam5").find("#MobileWorkDepartment").val(workdepartmentid);
                        $("#rowEmailTeam5").find("#MobileType").val(MobileType);
                        j++;
                    }
                    if (j == 7 && EmailLength >= j) {

                        var MobileType = $(this).closest(".showInternalTeam").parent().find(".showEmailID-" + j).attr("MobileType");
                        var MobileNo = $(this).closest(".showInternalTeam").parent().find(".showEmailID-" + j).attr("MobileNo");
                        var extension = "";// $(this).closest(".showInternalTeam").parent().find(".showEmailID-" + j).attr("extension");
                        var companyphoneid = $(this).closest(".showInternalTeam").parent().find(".showEmailID-" + j).attr("companyphoneid");
                        var workdepartmentid = $(this).closest(".showInternalTeam").parent().find(".showEmailID-" + j).attr("workdepartmentid");
                        $("#rowEmailTeam6").find("#MobileNo").val(MobileNo);
                        $("#rowEmailTeam6").find("#MobileNoExtension").val(extension);
                        $("#rowEmailTeam6").find("#companyphoneid").val(companyphoneid);
                        $("#rowEmailTeam6").find("#MobileWorkDepartment").val(workdepartmentid);
                        $("#rowEmailTeam6").find("#MobileType").val(MobileType);
                        j++;
                    }
                    if (j == 8 && EmailLength >= j) {

                        var MobileType = $(this).closest(".showInternalTeam").parent().find(".showEmailID-" + j).attr("MobileType");
                        var MobileNo = $(this).closest(".showInternalTeam").parent().find(".showEmailID-" + j).attr("MobileNo");
                        var extension = "";// $(this).closest(".showInternalTeam").parent().find(".showEmailID-" + j).attr("extension");
                        var companyphoneid = $(this).closest(".showInternalTeam").parent().find(".showEmailID-" + j).attr("companyphoneid");
                        var workdepartmentid = $(this).closest(".showInternalTeam").parent().find(".showEmailID-" + j).attr("workdepartmentid");
                        $("#rowEmailTeam7").find("#MobileNo").val(MobileNo);
                        $("#rowEmailTeam7").find("#MobileNoExtension").val(extension);
                        $("#rowEmailTeam7").find("#companyphoneid").val(companyphoneid);
                        $("#rowEmailTeam7").find("#MobileWorkDepartment").val(workdepartmentid);
                        $("#rowEmailTeam7").find("#MobileType").val(MobileType);
                        j++;
                    }
                }
        });

            $('.EditExternalTeam').on("click", function (e) {
                
            $(".iboxOffice").hide();
            $(".iboxCompanynfo").hide();
            $(".iboxInternal").hide();
            $(".iboxexternal").show();
            $("select#RelationID").prop('selectedIndex', 0);
            $("select#CategoryID2").prop('selectedIndex', 0);
             $("select#SubCategoryID2").prop('selectedIndex', 0);
            $("select#SupportCompanyID").prop('selectedIndex', 0);
            $("select#SupportPersonId").prop('selectedIndex', 0);
            $("select#DesignationId2").prop('selectedIndex', 0);
            $("select#SubDesignationID2").prop('selectedIndex', 0);
            $("select#SubPartDesignationID2").prop('selectedIndex', 0);
            $("#MobileType").val(0);
            $("#MobileNo").val("");
            $("#MobileWorkDepartment").val(0);
            $("#MobileNoExtension").val("");

            if ($("#rowMobileSupportTeam1").length > 0) {
                $("#rowMobileSupportTeam1").remove();
            }
            if ($("#rowMobileSupportTeam2").length > 0) {
                $("#rowMobileSupportTeam2").remove();
            }
            if ($("#rowMobileSupportTeam3").length > 0) {
                $("#rowMobileSupportTeam3").remove();
            }
            if ($("#rowEmailSupportTeam4").length > 0) {
                $("#rowEmailSupportTeam4").remove();
            }
            if ($("#rowEmailSupportTeam1").length > 0) {
                $("#rowEmailSupportTeam1").remove();
            }
            if ($("#rowEmailSupportTeam2").length > 0) {
                $("#rowEmailSupportTeam2").remove();
            }
            if ($("#rowEmailSupportTeam3").length > 0) {
                $("#rowEmailSupportTeam3").remove();
            }
            if ($("#rowEmailSupportTeam4").length > 0) {
                $("#rowEmailSupportTeam4").remove();
            }

            var externalteamid = $(this).attr("externalteamid");
            $("#DbExternalTeamID").val(externalteamid);

            var relationid = $(this).closest(".showExternalTeam").attr("relationid");
            var categoryid = $(this).closest(".showExternalTeam").attr("categoryid");
            var subcategoryid = $(this).closest(".showExternalTeam").attr("subcategoryid");
            var externalpersonid = $(this).closest(".showExternalTeam").attr("externalpersonid");

            var designationid = $(this).closest(".showExternalTeam").attr("designationid");
            var subdesignationid = $(this).closest(".showExternalTeam").attr("subdesignationid");
            var subpartdesignationid = $(this).closest(".showExternalTeam").attr("subpartdesignationid");
            var ExternalCompanyID = $(this).closest(".showExternalTeam").attr("externalcompanyid");
                
            $("#RelationID").val(relationid);
            $("#CategoryID2").val(categoryid);
            GetSupportTeamSubCategory();
            $("#SubCategoryID2").val(subcategoryid);
                $("#SupportCompanyID").val(ExternalCompanyID);
            $("#SupportPersonId").val(externalpersonid);
            $("#DesignationId2").val(designationid);
            GetSupportTeamSubDesignation();
            $("#SubDesignationID2").val(subdesignationid);
            GetSupportTeamSubPartDesignation();
            $("#SubPartDesignationID2").val(subpartdesignationid);
            

              
                var MobileLength = $(this).closest(".showExternalTeam").parent().parent().parent().find(".showMobileNo").length
                //var MobileLength = $(this).closest(".showExternalTeam").parent().find(".showMobileNo").length
            for (var i = 1; i < MobileLength; i++) {
                $('#rowMobileSupportTeam')
                    .clone(true)
                    .attr('id', 'rowMobileSupportTeam' + i, 'name', 'rowMobilen')
                    .insertAfter('[id=rowMobileSupportTeam]:last').find("input[type='text']").val("");
            }

            var j = 1; 
            if (MobileLength >= j) { 
                if (j == 1 && MobileLength >= j) {
                    var MobileType = $(this).closest(".DivSupportTeam ").parent().find(".showMobileNo-1").attr("MobileType");
                    var MobileNo = $(this).closest(".DivSupportTeam ").parent().find(".showMobileNo-1").attr("MobileNo");
                    var extension = $(this).closest(".DivSupportTeam ").parent().find(".showMobileNo-1").attr("extension");
                    var companyphoneid = $(this).closest(".DivSupportTeam ").parent().find(".showMobileNo-1").attr("companyphoneid");
                    var workdepartmentid = $(this).closest(".DivSupportTeam ").parent().find(".showMobileNo-1").attr("workdepartmentid");

                    $("#rowMobileSupportTeam").find("#MobileNo").val(MobileNo);
                    $("#rowMobileSupportTeam").find("#MobileNoExtension").val(extension); 
                    $("#rowMobileSupportTeam").find("#CompanyPhoneIDValue").val(companyphoneid);
                    $("#rowMobileSupportTeam").find("#MobileWorkDepartment").val(workdepartmentid);
                    $("#rowMobileSupportTeam").find("#MobileType").val(MobileType); 
                    j++;
                }
                if (j == 2 && MobileLength >= j) { 
                    var MobileType = $(this).closest(".DivSupportTeam ").parent().find(".showMobileNo-" + j).attr("MobileType");
                    var MobileNo = $(this).closest(".DivSupportTeam ").parent().find(".showMobileNo-" + j).attr("MobileNo");
                    var extension = $(this).closest(".DivSupportTeam ").parent().find(".showMobileNo-" + j).attr("extension");
                    var companyphoneid = $(this).closest(".DivSupportTeam ").parent().find(".showMobileNo-" + j).attr("companyphoneid");
                    var workdepartmentid = $(this).closest(".DivSupportTeam ").parent().find(".showMobileNo-" + j).attr("workdepartmentid");
                    $("#rowMobileSupportTeam1").find("#MobileNo").val(MobileNo);
                    $("#rowMobileSupportTeam1").find("#MobileNoExtension").val(extension);
                    $("#rowMobileSupportTeam1").find("#CompanyPhoneIDValue").val(companyphoneid);
                    $("#rowMobileSupportTeam1").find("#MobileWorkDepartment").val(workdepartmentid);
                    $("#rowMobileSupportTeam1").find("#MobileType").val(MobileType);
                    j++;
                }
                if (j == 3 && MobileLength >= j) { 
                    var MobileType = $(this).closest(".DivSupportTeam ").parent().find(".showMobileNo-" + j).attr("MobileType");
                    var MobileNo = $(this).closest(".DivSupportTeam ").parent().find(".showMobileNo-" + j).attr("MobileNo");
                    var extension = $(this).closest(".DivSupportTeam ").parent().find(".showMobileNo-" + j).attr("extension");
                    var companyphoneid = $(this).closest(".DivSupportTeam ").parent().find(".showMobileNo-" + j).attr("companyphoneid");
                    var workdepartmentid = $(this).closest(".DivSupportTeam ").parent().find(".showMobileNo-" + j).attr("workdepartmentid");
                    $("#rowMobileSupportTeam2").find("#MobileNo").val(MobileNo);
                    $("#rowMobileSupportTeam2").find("#MobileNoExtension").val(extension);
                    $("#rowMobileSupportTeam2").find("#CompanyPhoneIDValue").val(companyphoneid);
                    $("#rowMobileSupportTeam2").find("#MobileWorkDepartment").val(workdepartmentid);
                    $("#rowMobileSupportTeam2").find("#MobileType").val(MobileType);
                    j++;
                }
                if (j == 4 && MobileLength >= j) {
                    var MobileType = $(this).closest(".DivSupportTeam ").parent().find(".showMobileNo-" + j).attr("MobileType");
                    var MobileNo = $(this).closest(".DivSupportTeam ").parent().find(".showMobileNo-" + j).attr("MobileNo");
                    var extension = $(this).closest(".DivSupportTeam ").parent().find(".showMobileNo-" + j).attr("extension");
                    var companyphoneid = $(this).closest(".DivSupportTeam ").parent().find(".showMobileNo-" + j).attr("companyphoneid");
                    var workdepartmentid = $(this).closest(".DivSupportTeam ").parent().find(".showMobileNo-" + j).attr("workdepartmentid");
                    $("#rowMobileSupportTeam3").find("#MobileNo").val(MobileNo);
                    $("#rowMobileSupportTeam3").find("#MobileNoExtension").val(extension);
                    $("#rowMobileSupportTeam3").find("#CompanyPhoneIDValue").val(companyphoneid);
                    $("#rowMobileSupportTeam3").find("#MobileWorkDepartment").val(workdepartmentid);
                    $("#rowMobileSupportTeam3").find("#MobileType").val(MobileType);
                    j++;
                }
                }
              
            var EmailLength = $(this).closest(".DivSupportTeam ").parent().find(".showEmailID").length
            for (var i = 1; i < EmailLength; i++) {
                $('#rowEmailSupportTeam')
                    .clone(true)
                    .attr('id', 'rowEmailSupportTeam' + i, 'name', 'rowEmailn')
                    .insertAfter('[id^=rowEmailSupportTeam]:last').find("input[type='text']").val("");
            } 
            var j = 1; 
            if (EmailLength >= j) {

                if (j == 1 && EmailLength >= j) {
                    var MobileType = $(this).closest(".DivSupportTeam ").parent().find(".showEmailID-1").attr("MobileType");
                    var MobileNo = $(this).closest(".DivSupportTeam ").parent().find(".showEmailID-1").attr("MobileNo");
                    var extension = '';// $(this).closest(".MultiOfficeAddress").parent().find(".showMobileNo-1").attr("extension");
                    var companyphoneid = $(this).closest(".DivSupportTeam ").parent().find(".showEmailID-1").attr("companyphoneid");
                    var workdepartmentid = $(this).closest(".DivSupportTeam ").parent().find(".showEmailID-1").attr("workdepartmentid");

                    $("#rowEmailSupportTeam").find("#MobileNo").val(MobileNo);
                    $("#rowEmailSupportTeam").find("#MobileNoExtension").val(extension);    
                    $("#rowEmailSupportTeam").find("#CompanyPhoneIDValue").val(companyphoneid);
                    $("#rowEmailSupportTeam").find("#MobileWorkDepartment").val(workdepartmentid);
                    $("#rowEmailSupportTeam").find("#MobileType").val(MobileType);
                    j++;
                }
                if (j == 2 && EmailLength >= j) {

                    var MobileType = $(this).closest(".DivSupportTeam ").parent().find(".showEmailID-" + j).attr("MobileType");
                    var MobileNo = $(this).closest(".DivSupportTeam ").parent().find(".showEmailID-" + j).attr("MobileNo");
                    var extension = "";// $(this).closest(".DivSupportTeam ").parent().find(".showEmailID-" + j).attr("extension");
                    var companyphoneid = $(this).closest(".DivSupportTeam ").parent().find(".showEmailID-" + j).attr("companyphoneid");
                    var workdepartmentid = $(this).closest(".DivSupportTeam ").parent().find(".showEmailID-" + j).attr("workdepartmentid");
                    $("#rowEmailSupportTeam1").find("#MobileNo").val(MobileNo);
                    $("#rowEmailSupportTeam1").find("#MobileNoExtension").val(extension);
                    $("#rowEmailSupportTeam1").find("#MobileWorkDepartment").val(workdepartmentid);
                    $("#rowEmailSupportTeam1").find("#MobileType").val(MobileType);
                    j++;
                }
                if (j == 3 && EmailLength >= j) {

                    var MobileType = $(this).closest(".DivSupportTeam ").parent().find(".showEmailID-" + j).attr("MobileType");
                    var MobileNo = $(this).closest(".DivSupportTeam ").parent().find(".showEmailID-" + j).attr("MobileNo");
                    var extension = '';// $(this).closest(".DivSupportTeam ").parent().find(".showEmailID-" + j).attr("extension");
                    var companyphoneid = $(this).closest(".DivSupportTeam ").parent().find(".showEmailID-" + j).attr("companyphoneid");
                    var workdepartmentid = $(this).closest(".DivSupportTeam ").parent().find(".showEmailID-" + j).attr("workdepartmentid");
                    $("#rowEmailSupportTeam2").find("#MobileNo").val(MobileNo);
                    $("#rowEmailSupportTeam2").find("#MobileNoExtension").val(extension);
                    $("#rowEmailSupportTeam2").find("#CompanyPhoneIDValue").val(companyphoneid);
                    $("#rowEmailSupportTeam2").find("#MobileWorkDepartment").val(workdepartmentid);
                    $("#rowEmailSupportTeam2").find("#MobileType").val(MobileType);
                    j++;
                }
                if (j == 4 && EmailLength >= j) {

                    var MobileType = $(this).closest(".DivSupportTeam ").parent().find(".showEmailID-" + j).attr("MobileType");
                    var MobileNo = $(this).closest(".DivSupportTeam ").parent().find(".showEmailID-" + j).attr("MobileNo");
                    var extension = "";// $(this).closest(".DivSupportTeam ").parent().find(".showEmailID-" + j).attr("extension");
                    var companyphoneid = $(this).closest(".DivSupportTeam ").parent().find(".showEmailID-" + j).attr("companyphoneid");
                    var workdepartmentid = $(this).closest(".DivSupportTeam ").parent().find(".showEmailID-" + j).attr("workdepartmentid");
                    $("#rowEmailSupportTeam3").find("#MobileNo").val(MobileNo);
                    $("#rowEmailSupportTeam3").find("#MobileNoExtension").val(extension);
                    $("#rowEmailSupportTeam3").find("#companyphoneid").val(companyphoneid);
                    $("#rowEmailSupportTeam3").find("#MobileWorkDepartment").val(workdepartmentid);
                    $("#rowEmailSupportTeam3").find("#MobileType").val(MobileType);
                    j++;
                }
            }
           });
    });
        function GetSubDesignation() {
          $.ajax({
            url: "@Url.Action("BindTeamSubDesignation", "Master")",
            contentType: "application/json",
                data: JSON.stringify({
                    DesignationID: $('#DesignationId1').val(),
            }),
            dataType: "text",
              type: "POST",
              async: false,
                success: function (data) {
                $('#SubDesignationID1').html(data);

            },
            error: function (data) {

            },
            complete: function () {

            }

            });
            return true;
        }
        function GetSubPartDesignation() {

            $.ajax({
            url: "@Url.Action("BindTeamSubPartDesignation", "Master")",
            contentType: "application/json",
                data: JSON.stringify({
                    SubDesignationId: $('#SubDesignationID1').val(),
            }),
            dataType: "text",
            type: "POST",
            async: false,
                success: function (data) {
                $('#SubPartDesignationID1').html(data);

            },
            error: function (data) {


            },
            complete: function () {

            }

            });
            return true;
        }

        function GetSupportTeamSubCategory() {
            $.ajax({
                url: "@Url.Action("CategoryWiseSubCategory", "Master")",
                contentType: "application/json",
                data: JSON.stringify({
                    CategoryID: $('#CategoryID2').val(),
                    val:2
                }),
               // dataType: "text",
                type: "POST",
                async: false,
                success: function (data) {

                    $('#SubCategoryID2').html(data);
                },
                error: function (data) {
                  
                    console.log(data);
                },
                complete: function () {
                }
            });
            return true;
        }
    function GetSupportTeamSubDesignation() {
        $.ajax({
            url: "@Url.Action("BindTeamSubDesignation", "Master")",
            contentType: "application/json",
            data: JSON.stringify({
                DesignationID: $('#DesignationId2').val(),
                Val: 2
            }),
            dataType: "text",
            type: "POST",
            async: false,
            success: function (data) {
                $('#SubDesignationID2').html(data);
            },
            error: function (data) {


            },
            complete: function () {

            }

        });
        return true;
    }

    function GetSupportTeamSubPartDesignation() {

        $.ajax({
            url: "@Url.Action("BindTeamSubPartDesignation", "Master")",
            contentType: "application/json",
            data: JSON.stringify({
                SubDesignationId: $('#SubDesignationID2').val(),
                Val: 2
            }),
            dataType: "text",
            type: "POST",
            async: false,
            success: function (data) {
                $('#SubPartDesignationID2').html(data);

            },
            error: function (data) {


            },
            complete: function () {

            }

        });
        return true;
    }

</script>
