
<script src="~/Scripts/toastr.js"></script>
<script src="~/Scripts/toastr.min.js"></script>
<link href="~/assets/css/plugins/toastr/toastr.css" rel="stylesheet" />
<script src="~/assets/css/plugins/toastr/toastr.min.js"></script>
<link href="~/assets/css/plugins/toastr/toastr.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@model mvc.Models.UserMasterList
@using PagedList;
@using PagedList.Mvc;
@using GridMvc.Html

@{
    ViewBag.Title = "CreateUser";
}

<!DOCTYPE html>



<div class="modal-dialog" id="pnl-mdlCandidate">

    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "", @id = "frmCandidate" }))
    {
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3 class="modal-title">Add New User</h3>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="name">Enter User Name</label>
                    @Html.TextBoxFor(a => a.User_id, new { @class = "form-control hidden", placeholder = "user id", title = "User_id", @id = "User_id" })

                    @Html.TextBoxFor(a => a.User_Name, new { @class = "form-control", placeholder = "Enter user Name", title = "User_Name", @id = "User_Name" })
                    <p id="validation" style="color:red;">Enter user Name</p>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-4">
                            <label for="name">First Name</label>
                            @Html.TextBoxFor(a => a.F_Name, new { @class = "form-control", placeholder = "Enter First Name", title = "F_Name", @id = "F_Name" })
                            <p id="Firstname" style="color:red;">Enter First Name</p>
                        </div>
                        <div class="col-sm-4">
                            <label for="name">Middle Name</label>
                            @Html.TextBoxFor(a => a.M_Name, new { @class = "form-control", placeholder = "Enter Middle Name", title = "M_Name", @id = "M_Name" })
                            <p id="middlename" style="color:red;">Enter Middle Name</p>
                        </div>
                        <div class="col-sm-4">
                            <label for="name">Last Name</label>
                            @Html.TextBoxFor(a => a.L_Name, new { @class = "form-control", placeholder = "Enter Last Name", title = "L_Name", @id = "L_Name" })
                            <p id="lastname" style="color:red;">Enter Last Name</p>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="name">Phone No</label>
                    @Html.TextBoxFor(a => a.phone, new { @class = "form-control", placeholder = "Enter phone number", title = "phone", @id = "phone" })


                </div>
                <div class="form-group">
                    <label for="name">Mobile No</label>
                    @Html.TextBoxFor(a => a.Mobile, new { @class = "form-control", placeholder = "Enter mobile number", title = "Mobile", @id = "Mobile" })
                    <p id="Mobilenum" style="color:red;">Enter Mobile Number</p>
                </div>
                <div class="form-group">
                    <label for="name">Password</label>
                    @Html.TextBoxFor(a => a.Password, new { @class = "form-control", placeholder = "Enter password", title = "Password", @id = "Password" })
                    <p id="pass" style="color:red;">Enter Password</p>
                </div>
                <div class="form-group">
                    <label for="name">Email Id</label>
                    @Html.TextBoxFor(a => a.emailId, new { @class = "form-control", placeholder = "Enter emailid", title = "emailId", @id = "emailId" })
                    <p id="eml" style="color:red;">Enter Email ID</p>
                </div>
                <div class="form-group">

                    <label>Role Name <span class="text-danger">*</span></label>
                    @Html.TextBoxFor(a => a.RoleName, new { @class = "form-control ", @id = "RoleList", placeholder = "Role Name" })
                    @Html.HiddenFor(model => model.RoleID, new { id = "RoleID" })
                    @*@Html.DropDownList("model.RoleList", new SelectList((System.Collections.IEnumerable)ViewData["RoleList"], "Value", "Text", Model.RoleID), "Select Client", new { @class = "form-control input-sm", @id = "RoleList", Title = "RoleList" })
                        @Html.HiddenFor(model => model.RoleID, new { id = "RoleID" })*@
                    <p id="role" style="color:red;"> Enter Roll Name </p>

                </div>
                <div class="form-group">
                    <label for="name">Active</label> @Html.RadioButtonFor(m => m.Isactive, 1, new { @id = "radID", @name = "radID" })
                    <label for="name">Disactive</label> @Html.RadioButtonFor(m => m.Isactive, 0, new { @id = "radID", @name = "radID" })
                    <p id="validationrad" style="color:red;"> select Radio Button </p>

                </div>

            </div>
            <div class="modal-footer">
                <button type="submit" id="btnsave" class="btn btn-primary">Save</button>
                @Html.ActionLink("Cancel", "IndexForUser", "Master", null, new { @class = "btn btn-default" })
            </div>
        </div>
    }
</div>


<script>

    $(document).ready(function () {
        getRoleList();
       var action = "RoleName";
        $("#validation").hide();
        $("#Firstname").hide();
        $("#middlename").hide();
        $("#lastname").hide();
        $("#Mobilenum").hide();
        $("#pass").hide();
        $("#eml").hide();
        $("#role").hide();
        $("#validationrad").hide();

        var temp;
        temp = $("#User_id").val();


        $('#btnsave').on('click', function () {
            fnvalidationforinsert();
            //alert($("#Mobile").val().length)
            return false;
        });


    });


    function getRoleList()
    {
             var returnResult = [];
                          $.ajax({
                        contentType: "application/json; charset=utf-8",
                         url: "@Url.Action("GetRoleList", "Master")",
                        method: 'GET',
                        async: 'false',
                        dataType: 'json',
                        success: function (result) {
                            var data = $.map(result, function (obj) {
                                obj.value = obj.Text; // desired field
                                obj.data = obj.Value; // desired field
                                returnResult.push(obj);
                                $("#RoleList").autocomplete({
                                    lookup: returnResult,
                                    onSelect: function (suggestion) {
                                        $("#RoleID").val(suggestion.data);

                                    }
                                });

                            });
                        },
                        error: function () { }
                  });
    }

    //================================================================validation function for insert===================================================

    function fnvalidationforinsert() {
        var a;
        a = $("#User_Name").val();
        fname = $("#F_Name").val();
        mname = $("#M_Name").val();
        lname = $("#L_Name").val();
        pwd = $("#Password").val();
        mobilenumber = $("#Mobile").val();
        email = $("#emailId").val();
        roll = $("#RoleList").val();


        if (a == "") {
            $("#validation").show();
            toastr.success("Enter user Name.");
            $("#Firstname").hide();
            return false;
        }
        else if (fname == "") {
            $("#middlename").hide();
            $("#validation").hide();
            $("#lastname").hide();
            $("#Mobilenum").hide();
            $("#pass").hide();
            $("#eml").hide();
            $("#Firstname").show();
            $("#role").hide();
            $("#validationrad").hide();
            toastr.success("Enter First Name.");
            return false;
        }

        else if (lname == "") {
            $("#middlename").hide();
            $("#validation").hide();
            $("#Firstname").hide();
            $("#Mobilenum").hide();
            $("#pass").hide();
            $("#eml").hide();
            $("#lastname").show();
            $("#role").hide();;
            $("#validationrad").hide();
            toastr.success("Enter Last Name.");
            return false;
        }
        else if ($("#Mobile").val().length != 10) {
            $("#middlename").hide();
            $("#validation").hide();
            $("#Firstname").hide();
            $("#lastname").hide();
            $("#pass").hide();
            $("#eml").hide();
            $("#role").hide();
            $("#validationrad").hide();
            $("#Mobilenum").show();
            toastr.success("Enter 10 Didgit Mobile Number.");
            return false;
        }
        else if (pwd == "") {
            $("#middlename").hide();
            $("#validation").hide();
            $("#Firstname").hide();
            $("#lastname").hide();
            $("#pass").show();
            $("#Mobilenum").hide();
            $("#role").hide();
            $("#validationrad").hide();
            $("#eml").hide();
            toastr.success("Enter 10 Didgit Mobile Number.");
            return false;
        }
        else if (email == "") {
            $("#middlename").hide();
            $("#validation").hide();
            $("#Firstname").hide();
            $("#lastname").hide();
            $("#pass").hide();
            $("#Mobilenum").hide();
            $("#role").hide();
            $("#validationrad").hide();
            $("#eml").show();
            toastr.success("Enter email ID");
            return false;
        }
        else if (roll == "") {
            $("#middlename").hide();
            $("#validation").hide();
            $("#Firstname").hide();
            $("#lastname").hide();
            $("#pass").hide();
            $("#Mobilenum").hide();
            $("#eml").hide();
            $("#validationrad").hide();
            $("#role").show();
            toastr.success("select Roll");
            return false;
        }

        else if ($("#radID:checked").val() != 0 && $("#radID:checked").val() != 1) {
            $("#middlename").hide();
            $("#validation").hide();
            $("#Firstname").hide();
            $("#lastname").hide();
            $("#pass").hide();
            $("#Mobilenum").hide();
            $("#eml").hide();
            $("#role").hide();
            $("#validationrad").show();
            toastr.success("select radio button");
            return false;
        }
        else

            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: '/Master/add_User',

                data:
                    {
                        User_Name: $("#User_Name").val(),
                        F_Name: $("#F_Name").val(),
                        M_Name: $("#M_Name").val(),
                        L_Name: $("#L_Name").val(),
                        phone: $("#phone").val(),
                        Mobile: $("#Mobile").val(),
                        Password: $("#Password").val(),
                        emailId: $("#emailId").val(),
                        RoleID: $("#RoleID").val(),
                        Isactive: $("#radID:checked").val(),
                        CreatedBy: $("#CreatedBy").val(),

                    },
                success: function (da) {
                    //alert("data inserted sucessfully");
                    toastr.success("User Added Sucessfully.");
                    $("#mdlAddUser .close").click()

                },

                error: function (XMLHttpRequest, textStatus, errorThrown) {

                }
            });
        return true;
    }

</script>


